<%- include ("../_header") %>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header"><i class="fa fa-files-o"></i>INSTITUTION INFORMATION</h3>
              
              <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
                <li><i class="icon_document_alt"></i>จัดการข้อมูลหน่วยงาน</li>
              </ol>
            </div>
          </div>
        <div class="col-lg-8"></div>
        <table>
          <thead>
          <tr>
            <th>
              <a class="btn btn-primary"  onclick="document.getElementById('popup').style.display='block'"><i class="icon_plus_alt2"></i> เพิ่มข้อมูลหน่วยงาน</a>
            </th>
          </tr>
        </thead>
        </table>
       
        <div id="popup" class="modal">
            <form class="form-validate modal-content animate" id="myform" action="/personneltype/save" method="POST" data-toggle="validator" >
                <div class="imgcontainer">
                    <span onclick="document.getElementById('popup').style.display='none'" class="close" title="Close Modal">&times;</span>  
                </div>
                <div class="container">
                    <p align="center"><b> เพิ่มข้อมูลหน่วยงาน</b></p><br>
                    <label for="uname"><b>ชื่อหน่วยงาน</b></label>
                    <input type="text" name="name_pst" class="form-control" id="fname" placeholder="กรุณากรอกชื่อหน่วยงาน" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required/>
                    <div class="validation"></div>
                    <button type="submit" class="btn btn-success">เพิ่มข้อมูล</button>
                </div>

            </form>
        </div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class=" col-lg-8" >
        <div class="col-lg-2"></div>
      <section class="panel">
        <header class="panel-heading">  
          <b style="font-size: large;"> รายชื่อหน่วยงาน </b>
          
          
        </header>
        <div class="panel-body">
        <table id="tablepersonneltype" class="table table-bordered table-striped" >
          <thead>
            <tr>
                <th><i class="fa fa-list-ol" aria-hidden="true"></i> ลำดับ</th>
                <th><i class="icon_profile"></i> ชื่อหน่วยงาน</th>
                <th><i class="icon_cogs"></i> Action</th>
              </tr>
            </thead>
              <tbody>
              <%if(personneltype){%>
                <% for(var i=0; i<personneltype.length;i++ ){ %>
            
            <tr>
                <td><%= i+1 %></td>
              <td><%= personneltype[i].name_pst%></td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-warning"  href="/personneltype/edit<%= personneltype[i].idpersonneltype%>"><i class="icon_check_alt2"></i> แก้ไขข้อมูล</a>
                  <a class="btn btn-danger" onclick="return confirm('ต้องการลบข้อมูลนี้หรือไม่??!? หน่วยงาน: <%= personneltype[i].name_pst%>');" href="/personneltype/delete<%= personneltype[i].idpersonneltype%>"><i class="icon_close_alt2"></i> ลบข้อมูล</a>
                  <a class="btn btn-info" href="/personneltype/name<%= personneltype[i].idpersonneltype%> "><i class="fa fa-address-card-o" aria-hidden="true"></i> ดูรายชื่อเจ้าหน้าที่ในหน่วยงาน</a>
                </div>
                
              </td>
            </tr>
            <%}%>
            <%}%>
          </tbody>
</table>
</div>
      </section>
    </div>
  </div>
</section>
</section>

<script>
    // Get the modal
    var modal = document.getElementById('popup');
  
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function() {
  $('#tablepersonneltype').DataTable();
} );
</script>

 

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 

<%- include ("../_footer") %>