<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo/wiangthoeng-logo.png">
    <link rel="stylesheet" href="register.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>ลงทะเบียน</title>
</head>

<body id="body-login">


    <header>
        <div class="container-lg head">

            <div class="logo">
                <img src="logo/wiangthoeng-logo.png" alt="">
            </div>
            <p>ลงทะเบียนสำหรับเจ้าหน้าที่</p>
        </div>
    </header>

    <article>
        <section>
            <div class="container-lg content">
                <form action="/register/save" method="POST">
                    <div class="register-form">
                        <div class="name">

                            <div class="name-form">
                                <label for="fname">ชื่อ</label>
                                <input type="text" id="fname" name="fname_ps" class="form-control" placeholder="ชื่อ" required>

                            </div>

                            <div class="name-form">
                                <label for="lname">นามสกุล</label>
                                <input type="text" id="lname" name="lname_ps" class="form-control" placeholder="นามสกุล" required>
                            </div>

                        </div>

                        <div class="id-card">
                            <div class="id-card-form">
                                <label for="id-card-input">รหัสบัตรประชาชน</label>
                                <input type="text" id="id-card-input" name="idcard_ps" class="form-control"
                                    placeholder="รหัสบัตรประชาชน" required>
                            </div>
                        </div>

                        <div class="name">

                            <div class="name-form">
                                <label for="phone-number">เบอร์โทรศัพท์</label>
                                <input type="text" id="phone-number" name="phone_ps" class="form-control"
                                    placeholder="เบอร์โทรศัพท์" required>

                            </div>
                        </div>

                        <div class="id-card">
                            <div class="id-card-form">
                                <label for="village">หน่วยงานที่รับผิดชอบ</label>
                                <select name="personnel_type" class="form-control" id="" required>
                                    <option value="">กรุณาเลือก</option>
                                    <% if(personneltype) { %>
                                        <% for(var i=0; i < personneltype.length; i++){ %>
                                            <option value="<%= personneltype[i].idpersonneltype %>">
                                                 <%= personneltype[i].name_pst %>
                                            </option>
                                            <%}%>
                                                <%}%>
                                </select>
                            </div>
                        </div>

                        <div class="button">
                            <button type="submit" class="btn btn-submit">ลงทะเบียน</button>
                        </div>

                    </div>
                </form>
            </div>
            </div>
        </section>
    </article>

    <footer></footer>
    <!-- <script src="drop-menu.js"></script> -->
</body>

</html>