<%- include ("../_header") %>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header"><i class="fa fa-files-o"></i> PERSON REGISTER</h3>
              <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
                <li><i class="icon_document_alt"></i>ลงทะเบียน</li>
              </ol>
            </div>
          </div>
        

<div class="row">
    <div class="col-sm-6">
      <section class="panel">
        <header class="panel-heading">  
          <b style="font-size: large;"> รายชื่อเจ้าหน้าที่ขอลงทะเบียน </b>
          
        </header>
        <table id="tableregisterpersonnel" class="table table-bordered table-striped" >
          <thead>
            <tr>
                <th><i class="fa fa-list-ol" aria-hidden="true"></i> ลำดับ</th>
                <th><i class="icon_profile"></i> ชื่อ/นามสกุล</th>
                <th><i class="fa fa-user-circle" aria-hidden="true"></i> เลขบัตรประชาชน</th>
                <th><i class="fa fa-home" aria-hidden="true"></i> หน่วยงงานสังกัด</th>
                <th><i class="icon_mobile"></i> เบอร์ติดต่อ</th>
                <th><i class="icon_cogs"></i> Action</th>
              </tr>
            </thead>
              <tbody>
              <%if(personnel){%>
                <% for(var i=0; i<personnel.length;i++ ){ %>
            
            <tr>
                <td><%= i+1 %></td>
              <td><%= personnel[i].fname_ps%> <%= personnel[i].lname_ps%></td>
              <td><%= personnel[i].idcard_ps%></td>
              <td><%= personnel[i].name_pst%></td>
              <td><%= personnel[i].phone_ps%></td>
              <td>
                <div class="btn-group">
                    <a class="btn btn-success" onclick="return confirm('ยืนยันการอนุมัติ ชื่อ:<%= personnel[i].fname_ps%> <%= personnel[i].lname_ps%> เจ้าหน้าที่:(<%= personnel[i].name_pst%>)');" href="/register/person/personnel<%= personnel[i].idpersonnel%>"><i class="icon_check_alt2"></i> อนุมัติ</a>
                  <a class="btn btn-danger" onclick="return confirm('ไม่อนุมัติ ชื่อ:<%= personnel[i].fname_ps%> <%= personnel[i].lname_ps%> เจ้าหน้าที่:(<%= personnel[i].name_pst%>)');" href="/register/person/personnelCancel/<%= personnel[i].idpersonnel%>"><i class="icon_close_alt2"></i> ไม่อนุมัติ</a>
                </div>
                
              </td>
            </tr>
            <%}%>
            <%}%>
          </tbody>
        </table>
      </section>
    </div>

    <div class="col-sm-6">
    <section class="panel">
      <header class="panel-heading">  
        <b style="font-size: large;"> รายชื่อประชาชนที่ขอลงทะเบียน </b>
        
      </header>
      <table id="tableregisterusers" class="table table-bordered table-striped" >
        <thead>
          <tr>
              <th><i class="fa fa-list-ol" aria-hidden="true"></i> ลำดับ</th>
              <th><i class="icon_profile"></i> ชื่อ/นามสกุล</th>
              <th><i class="fa fa-user-circle" aria-hidden="true"></i> เลขบัตรประชาชน</th>
              <th><i class="fa fa-user-circle" aria-hidden="true"></i> ที่อยู่</th>
              <th><i class="fa fa-home" aria-hidden="true"></i> เพศ</th>
              <th><i class="icon_mobile"></i> เบอร์ติดต่อ</th>
              <th><i class="icon_cogs"></i> Action</th>
            </tr>
          </thead>
            <tbody>
            <%if(users){%>
              <% for(var i=0; i<users.length;i++ ){ %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= users[i].fname_us%> <%= users[i].lname_us%></td>
            <td><%= users[i].idcard_us%></td>
            <td><%= users[i].address_us%> <br><%= users[i].name_village%></td>
            <td><%= users[i].name_sex%></td>
            <td><%= users[i].phone_us%></td>
            <td>
              <div class="btn-group">
                <a class="btn btn-success" onclick="return confirm('ยืนยันการอนุมัติ ชื่อ:<%= users[i].fname_us%> <%= users[i].lname_us%> รหัสประชาชน:(<%= users[i].idcard_us%>)');" href="/register/person/user<%= users[i].idusers%>"><i class="icon_check_alt2"></i> อนุมัติ</a>
                <a class="btn btn-danger" onclick="return confirm('ยืนยันการอนุมัติ ชื่อ:<%= users[i].fname_us%> <%= users[i].lname_us%> รหัสประชาชน:(<%= users[i].idcard_us%>)');" href="/register/person/userCancel/<%= users[i].idusers%>" ><i class="icon_close_alt2"></i> ไม่อนุมัติ</a>
              </div>
              
            </td>
          </tr>
          <%}%>
          <%}%>
          <% JSON.stringify(session.topic) %>
        </tbody>
      </table>
    </section>
  </div>
  </div>

</section>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
  $('#tableregisterpersonnel').DataTable();
} );
</script>

<script>
  $(document).ready(function() {
  $('#tableregisterusers').DataTable();
} );
</script>
 

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 

<%- include ("../_footer") %>