<%- include ("../_header") %>

  <!--sidebar end-->

  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <!--overview start-->
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
            <li><i class="fa fa-laptop"></i>Dashboard</li>
          </ol>
        </div>
      </div>

      <div class="row">
        <a href="/admin/alerts">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="info-box blue-bg">
            <i class="fa fa-cloud-download"></i>
            <div class="count"><%= datenow.num %> ครั้ง</div>
            <div class="title">จำนวนการแจ้งเหตุย้อนหลัง 3 วัน</div>
          </div>
          <!--/.info-box-->
        </div>
      </a>
        <!--/.col-->

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="info-box brown-bg">
            <i class="fa fa-shopping-cart"></i>
            <div class="count">-</div>
            <div class="title">-</div>
          </div>
          <!--/.info-box-->
        </div>
        <!--/.col-->
        <a href="/register/person">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="info-box purple-bg">
            <i class="fa fa-users" aria-hidden="true"></i>
            <div class="count"><%= personnel[0].count %> คน</div>
            <div class="title">จำนวนเจ้าหน้าที่ขอลงทะเบียน</div>
          </div>
          <!--/.info-box-->
        </div>
      </a>

      <a href="/register/person">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="info-box yellow-bg">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            <div class="count"><%= users[0].count %> คน</div>
            <div class="title">จำนวนประชาชนขอลงทะเบียน</div>
          </div>
          <!--/.info-box-->
        </div>
      </a>

      </div>
      <!-- end row -->

      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="info-box dark-bg">
            <i class="fa fa-cubes"></i>
            <div class="count"><%= alerts_noneGet[0].count%> ครั้ง</div>
            <div class="title">จำนวนปัญหาที่ยังไม่ได้รับเรื่อง</div>
          </div>
          <!--/.info-box-->
        </div>
            <!--/.col-->

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="info-box orange-bg">
                <i class="fa fa-spinner" aria-hidden="true"></i>
                <div class="count"><%= alerts_Get[0].count%> ครั้ง</div>
                <div class="title">จำนวนปัญหาที่กำลังดำเนินการ</div>
              </div>
              <!--/.info-box-->
            </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="info-box green-bg">
            <i class="fa fa-thumbs-o-up"></i>
            <div class="count"><%= alerts_success[0].count%> ครั้ง</div>
            <div class="title">จำนวนปัญหาที่แก้ไขสำเร็จ</div>
          </div>
          <!--/.info-box-->
        </div>
        <!--/.col-->

        

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="info-box red-bg">
            <i class="fa fa-ban" aria-hidden="true"></i>
            <div class="count"><%= alerts_failed[0].count%> ครั้ง</div>
            <div class="title">จำนวนปัญหาที่แก้ไขไม่สำเร็จ</div>
          </div>
          <!--/.info-box-->
        </div>
      </div>
      <!--/.row-->
      


      <div class="row">
        <div class="col-lg-12 col-md-12">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h2><i class="fa fa-map-marker red"></i><strong>แผนที่</strong></h2>
              <div class="panel-actions">
                <a href="/index" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
              </div>
            </div>
            <div class="panel-body-map">
              <div id="map-canvas" style="height:380px;"></div>
            </div>

          </div>
        </div>
      </div>


      <!-- Today status end -->
<% JSON.stringify(alertstype) %>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2><i class="fa fa-flag-o red"></i><strong>การแจ้งเหตุ</strong></h2>
              <div class="panel-actions">
                <a href="/index" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
              </div>
            </div>
            <div class="panel-body">
              <table class="table bootstrap-datatable countries">
                <thead>
                  <tr>
                    <th>ไอคอน</th>
                    <th>รายชื่อเหตุ</th>
                    <th>จำนวนเหตุที่แจ้ง</th>
                    <th>จำนวนเหตุที่รอดำเนินการ</th>
                    <th>จำนวนเหตุที่กำลังดำเนินการ</th>
                  </tr>
                </thead>
                <tbody>
                    <% if(alertstype) {%>
                        <% for(var i=0; i<alertstype.length;i++ ){ %>
                  <tr>
                    <td><img src="icon/<%=alertstype[i].icon%>" style="height:30px; margin-top:-2px;"></td>
                    <td><%= alertstype[i].name_alty %></td>
                    <td><%= alertstype[i].numtype %> ครั้ง</td>
                    <% if(operation[i].Late){ %>
                    <td><a href="/admin/alerts/newnotify<%= alertstype[i].idalertstype %>"><%= operation[i].Late %> เรื่อง </a> </td>
                    <% }else{ %>
                    <td>0 เรื่อง</td>
                    <% } %>
                    <% if(carry[i].Late){ %>
                    <td><a href="/admin/alerts/newnotify<%= alertstype[i].idalertstype %>"><%= carry[i].Late %> เรื่อง </a></td>
                    <% }else{ %>
                    <td>0 เรื่อง</td>
                    <% } %>
                  </tr>
                  
                  <% } %>
                    <% } %>
                </tbody>
              </table>
            </div>

          </div>

        </div>
        <!--/col-->

      </div>

      
    <%- include ("../_footer") %>