</section>
<div class="text-right">
  <div class="credits">
    <!--
      All the links in the footer should remain intact.
      You can delete the links only if you purchased the pro version.
      Licensing information: https://bootstrapmade.com/license/
      Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
    -->
    Designed by <a href="https://www.facebook.com/pontakorn.changpat/" target="_blank"> <i class="fa fa-facebook-square" aria-hidden="true"></i>Pontakorn Changpat</a>
  </div>
</div>
</section>
<!--main content end-->
</section>
<!-- javascripts -->
<!-- <script src="js/jquery.js"></script> -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- nice scroll -->
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
<!-- charts scripts -->
<script src="assets/jquery-knob/js/jquery.knob.js"></script>
<script src="js/jquery.sparkline.js" type="text/javascript"></script>
<script src="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
<script src="js/owl.carousel.js"></script>
<!-- jQuery full calendar -->
<<script src="js/fullcalendar.min.js"></script>
<!-- Full Google Calendar - Calendar -->
<script src="assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
<!--script for this page only-->
<script src="js/calendar-custom.js"></script>
<script src="js/jquery.rateit.min.js"></script>
<!-- custom select -->
<script src="js/jquery.customSelect.min.js"></script>
<script src="assets/chart-master/Chart.js"></script>

<!--custome script for all page-->
<script src="js/scripts.js"></script>
<!-- <script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script src="js/form-validation-script.js"></script> -->

<!-- custom script for this page-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="sweetalert2/sweetalert2.min.js"></script>
<script src="js/map.js"></script>


<script>
  $(document).ready(function(){
    $("form").submit(function(){
  Swal.fire({
      icon: 'success',
      title: 'สำเร็จ',
      showConfirmButton: false,
      timer: 3500,
  });
});
  });
</script>



</body>

</html>