<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>เจ้าหน้าที่</title>

    <!-- Fontfaces CSS-->
    <link rel="icon" href="../logo/logo.png">
    <link href="../css/font-face.css" rel="stylesheet" media="all">
    <link href="../vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="../vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="../vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="../vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="../vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="../vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="../vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="../vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="../vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="../vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../css/theme.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">

</head>
<% JSON.stringify(cookies) %>
<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <div class="overview-wrap">
            <h2 class="title-1">เจ้าหน้าที่<%=type.name_pst%></h2>
        </div>
                <div class="container-fluid">
                    <div class="header-wrap">
                        <div class="header-button">
                            <div class="noti-wrap">
                                <div class="noti__item js-item-menu">
                                    <i class="fas fa-cart-arrow-down"></i>
                                    <span class="quantity"><%=_getalerts._get%></span>
                                    <div class="mess-dropdown js-dropdown">
                                        <div class="mess__title">
                                            <p><b>กระเป๋างานที่รับผิดชอบ</b> </p>
                                        </div>
                                        <div class="mess__item">
                                                <a href="/personnelAlerts/getalerts" ><i class="fas fa-suitcase" style="color: blue;"></i><b> งานที่กำลังดำเนินการ</b></a>
                                        </div>
                                        <div class="mess__item">
                                                <a href="/personnelAlerts/alerts_success" ><i class="fas fa-check-circle" style="color: green;"></i><b> งานที่ดำเนินการสำเร็จ</b> </a>
                                        </div>
                                        <div class="mess__item">
                                                <a href="/personnelAlerts/alerts_failed" ><i class="fas fa-window-close" style="color: red;"></i><b> งานที่ดำเนินการไม่สำเร็จ</b></a>
                                        </div>
                                        <div class="mess__footer">
                                            <a href="/personnelAlerts" class="btn btn-secondary"><i class="fas fa-backward" style="color: black;"></i><b style="color: white;"> กลับหน้ารับเรื่องเหตุ</b> </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="noti__item js-item-menu">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    <span class="quantity"><%=alerts_get._get%></span>
                                    <div class="mess-dropdown js-dropdown">
                                        <div class="mess__title">
                                            <p><b>การแจ้งเหตุที่รอดำเนินการ</b> </p>
                                        </div>
                                        <div class="mess__item">
                                                <a href="/personnelAlerts" ><i class="fas fa-clock" style="color: aqua;"></i><b> งานที่กำลังรอการรับเรื่อง</b></a>
                                        </div>
                                        <div class="mess__item">
                                            <a href="/personnelAlerts/alertstype" ><i class="fa fa-exclamation-circle" aria-hidden="true" style="color: rgb(216, 216, 68);"></i><b> ข้อมูลแจ้งเหตุที่หน่วยงานรับผิดชอบ</b></a>
                                    </div>
                                    </div>
                                </div>     
                            </div>
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="../logo/user.png" alt="Personnel" />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#"><%= cookies.fname_ps %> <%= cookies.lname_ps %></a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="account-dropdown__footer">
                                            <a href="/logoutpersonnel">
                                                <i class="zmdi zmdi-power"></i>Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- END HEADER MOBILE-->
        

    <!-- END HEADER MOBILE-->