<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo/logo.png">
    <link rel="stylesheet" href="login-user.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Login</title>
</head>
<body id="body-login">
    
    
    <header>
        <div class="container-lg head">
            
            <div class="logo">
                <img src="/logo/logo.png" alt="">
            </div>
            <p><b>โปรแกรมแจ้งเหตุ</b></p>
            <p><%= name %></p>
            <p>(สำหรับประชาชน)</p>
        </div>
    </header>
    <% if(session.topic == true){%>
        <script>
          swal.fire({
              icon: "warning",
              title: "บัญชีผู้ใช้ยังไม่ได้รับการยืนยัน!!",
              text: "โปรดติดต่อไปยังแอดมินเพื่อทำการยืนยันสิทธิ์",
              showConfirmButton: false,
              timer: 5500,
            },
        )    
  </script>
        <%}else if(session.topic == false){%>
            <script>
                swal.fire({
                    icon: "warning",
                    title: "รหัสประชาชนผิด!!",
                    text: "กรุณาลองกรอกรหัสประชาชนใหม่อีกครั้ง",
                    showConfirmButton: false,
                    timer: 5000,
                  },
              )
  
        </script>
       <% } %>
    <article>
        <section>
            <div class="container-lg content"> 
               <div class="login">
                   <form action="/loginusers" method="POST">
                   <div class="form">
                       <label for="id-card">รหัสบัตรประชาชน</label>
                       <input type="text" class="form-control form-control-lg" id="id-card" name="idcard_us" placeholder="กรอกรหัสบัตรประชาชน" required>
                       <button type="submit" class="btn btn-submit">เข้าสู่ระบบ</button>
                    </div>
                   </form>
                   
               </div>
               <div class="register">
                    <div class="line">   
                       <hr><p>หรือ</p><hr>
                    </div>
                    <div class="register-button">
                        <button class="btn btn-submit" onclick="window.location.href='/registeruser'">ลงทะเบียน</button>
                    </div>
                    
               </div>
            </div>
        </section>
    </article>
    
    <footer></footer>
    <!-- <script src="drop-menu.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script type="text/javascript" src="/sweetalert2/sweetalert2.min.js.gz"></script>
    <script type="text/javascript" src="/sweetalert2/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/sweetalert2/sweetalert2.min.css"></script>
    <script type="text/javascript" src="/sweetalert2/sweetalert2.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
   
