<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

	<head>
		<title>เข้าสู่ระบบ</title>
		<link rel="icon" href="logo/logo.png">
		<link rel="stylesheet" href="./assets/css/bootstrap/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous">
		<script src="assets/js/jquery/jquery.min.js"></script>
		<link rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
			integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
			crossorigin="anonymous">
		<link rel="stylesheet" href="./login.css">
	</head>
	<!--Coded with love by Mutiullah Samim-->
	<body>
		<div class="container h-100">
			<div class="d-flex justify-content-center h-100">
				<div class="user_card">
					<div class="d-flex justify-content-center">
						<div class="brand_logo_container">
							<img src="./logo/logo.png" class="brand_logo" alt="Logo">
						</div>
					</div>
					<% if(session.login){%>
						<script>
						  swal.fire({
							  icon: "warning",
							  title: "บัญชีผู้ใช้หรือรหัสผ่านผิด!!",
							  showConfirmButton: false,
							  timer: 4500,
							},
						);
				  </script>
						<%}%>
							<div class="d-flex justify-content-center form_container">
								<form action="/login" method="POST" data-toggle="validator">
									<div class="input-group mb-3">
										<div class="input-group-append">
											<span class="input-group-text"><i class="fas fa-user"></i></span>
										</div>
										<input type="text" name="username" class="form-control input_user
											validation" data-rule="minlen:4" placeholder="username" required>
										<div class="validation"></div>
									</div>
									<div class="input-group mb-2">
										<div class="input-group-append">
											<span class="input-group-text"><i class="fas fa-key"></i></span>
										</div>
										<input type="password" name="password" class="form-control input_pass
											validation" data-rule="minlen:4" placeholder="password" required>
										<div class="validation"></div>
									</div>
									<div class="d-flex justify-content-center mt-3 login_container">
										<button type="submit" name="button" class="btn login_btn">เข้าสู่ระบบ</button>
									</div>
								</form>
							</div>

							<div class="mt-4">
								<div class="d-flex justify-content-center links">
									<a href="/register" class="ml-2">ลงทะเบียนสำหรับเจ้าหน้าที่</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer>
					<script>
			$('Form').validator()
		  </script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
					<script>
			gsap.from(".brand_logo",2.5,{
				  y: -400
			  });
		  </script>
				</footer>
			</body>
		</html>
