<%- include ("../_header") %>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header"><i class="fa fa-files-o"></i>ALERTS INFORMATION</h3>
              
              <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
                <li><i class="icon_document_alt"></i><a href="/admin/alerts"> จัดการข้อมูลเมนูการแจ้งเหตุ</a></li>
                <li><i class="fa fa-list-alt" aria-hidden="true"></i><a href="/admin/alerts/notify<%=id%>"> รายการการแจ้งเหตุ</a></li>
                <li><i class="fa fa-address-book-o" aria-hidden="true"></i>เพิ่มผู้ดูแล</li>
              </ol>
            </div>
          </div>
          </section>
</section>
                            
        <div class="col-lg-8"></div>
        <section id="main-content">
            <section class="wrapper">
<div class="row">
    <div class="col-lg-3"></div>
    <div class=" col-lg-6" >
        <div class="col-lg-2"></div>
      <section class="panel">
        <header class="panel-heading">  
          <b style="font-size: large;"> เพิ่มผู้ดูแลของหน่วยงาน<%=personneltype.name_pst%> </b>
        </header>
        
    <% JSON.stringify(personnel) %>
        <div class="panel-body">
        <table id="tablepersonnel_alerts" class="table table-bordered table-striped" >
          <thead>
            <tr>
                <th><i class="fa fa-list-ol" aria-hidden="true"></i> ลำดับ</th>
                <th><i class="fa fa-ambulance" aria-hidden="true"></i> ชื่อเจ้าหน้าที่</th>
                <th><i class="fa fa-phone-square" aria-hidden="true"></i> เบอร์ติดต่อ</th>
                <th><i class="icon_cogs"></i> Action</th>
              </tr>
            </thead>
              <tbody>
              <%if(personnel){%>
                <% for(var i=0; i<personnel.length;i++ ){ %>
            
              <tr>
                <td><%= i+1 %></td>
                <td><%= personnel[i].fname_ps%>  <%= personnel[i].lname_ps%></td>
                <td><%= personnel[i].phone_ps%></td>
              <td>
                <div class="btn-group">
                    <a class="btn btn-success" onclick="return confirm('คุณแน่ใจไหมที่จะให้ `<%= personnel[i].fname_ps%>  <%= personnel[i].lname_ps%>` เป็นผู้รับเรื่องดำเนินงาน')" href="/admin/alerts/notify<%= id %>/add<%= personnel[i].idpersonnel%>/select/<%=idalerts%>"><i class="fa fa-check-circle-o" aria-hidden="true"></i> เลือก</a>
                   </div>
              </td>
            </tr>
            <%}%>
            <%}%>
          </tbody>
</table>
</div>
      </section>
    </div>
  </div>
</section>
</section>

<script>
    // Get the modal
    var modal = document.getElementById('popup');
  
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function() {
  $('#tablepersonnel_alerts').DataTable();
} );
</script>

 

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 

<%- include ("../_footer") %>