<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo/logo.png">
    <link rel="stylesheet" href="question.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <title>แบบสอบถาม</title>
</head>

<body id="body-menu">
    <header>
        <img class="img-gear" src="/img/gear.png">
        <ul class="dropdowns-menu">
            <li><a href="/indexusers" style="color: rgb(250, 112, 112);">กลับสู่หน้าหลัก</a></li>
            <li><a href="/logoutusers" style="color: rgb(250, 112, 112);">ออกจากระบบ</a></li>
        </ul>
        <div class="container-lg head">
            <div class="logo">
                <img src="logo/logo.png" alt="">
            </div>
            <p><%=name%></p>
            <p style="text-decoration:underline">แบบสอบถาม</p>
        </div>
    </header>

    <article>
        <section>
                <div class="container">
                    <a href="/symptoms" class="btn" style="color: black;">
                        <div class="container-sm menu-box">
                            <img image/png src="logo/follower.png" alt="">
                            <p class="text">
                                ติดตามเฝ้าระวังสังเกตุอาการ
                            </p>
                        </div>
                    </a>
                    <a href="/vaccine" class="btn" style="color: black;">
                        <div class="container-sm menu-box">
                            <img image/png src="logo/vaccine.png" alt="">
                            <p class="text">
                                สำรวจการฉีดวัคซีนโดวิด-19 
                            </p>
                        </div>
                    </a>
                </div>
        </section>
    </article>

    <footer></footer>
    <script src="drop-menu.js"></script>
</body>

</html>