<%- include ("../_header") %>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header"><i class="fa fa-files-o"></i> village users INFORMATION</h3>
              
              <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
                <li><i class="icon_document_alt"></i><a href="/village"> จัดการข้อมูลหมู่บ้าน</a> </li>
                <li><i class="fa fa-user-o" aria-hidden="true"></i>จัดการข้อมูลประชาชน</li>
              </ol>
            </div>
          </div>
        <div class="col-lg-9"></div>
        <a class="btn btn-primary"  onclick="document.getElementById('popup').style.display='block'"><i class="icon_plus_alt2"></i> เพิ่มข้อมูลประชาชน</a>
        <div id="popup" class="modal">
            <form class="form-validate modal-content animate" id="myform" action="/village<%= villagetype[0].idvillage %>/save" method="POST" data-toggle="validator" >
                <div class="imgcontainer">
                    <span onclick="document.getElementById('popup').style.display='none'" class="close" title="Close Modal">&times;</span>  
                </div>
                <div class="container">
                    <p align="center"><b> เพิ่มข้อมูลประชาชน</b></p><br>
                    <label for="uname"><b>ชื่อ</b></label>
                    <input type="text" name="fname_us" class="form-control" id="fname" placeholder="กรุณากรอกชื่อ"  required/>
                    <div class="validation"></div>
                    <label for="uname"><b>นามสกุล</b></label>
                    <input type="text" name="lname_us" class="form-control" id="lame" placeholder="กรุณากรอกนามสกุล"  required/>
                    <div class="validation"></div>
                    <label for="uname"><b>เบอร์ติดต่อ</b></label>
                    <input type="text" name="phone_us" class="form-control" id="phone" placeholder="กรุณากรอกเบอร์ติดต่อ" required/>
                    <div class="validation"></div>
                    <label for="uname"><b>รหัสบัตรประชาชน</b></label>
                    <input type="text" name="idcard_us" class="form-control" id="username" placeholder="กรุณากรอกรหัสบัตรประชาชน"  required/>
                    <div class="id-card">
                        <div class="id-card-form">
                            <label for="village"><b>หมู่บ้าน</b> </label>
                            <select name="village_id" class="form-control" id="" required>
                                <option value="">กรุณาเลือก</option>
                                <% if(villagetype) { %>
                                    <% for(var i=0; i < villagetype.length; i++){ %>
                                        <option value="<%= villagetype[i].idvillage %>" selected>
                                             <%= villagetype[i].name_village %>
                                        </option>
                                        <%}%>
                                            <%}%>
                            </select>
                        </div>
                    </div>
                      <label for="uname"><b>บ้านเลขที่</b> <p>ตัวอย่าง: บ้านเลขที่77</p></label>
                      <input type="text" name="address_us" class="form-control" id="username" placeholder="กรุณากรอกที่บ้านเลขที่" data-rule="minlen:13" data-msg="Please enter at least 4 chars" required/>
                      <div class="validation"></div>
                      <label for="uname"><b>เพศ</b></label>
                      <select name="sex_us" class="form-control" required>
                          <option value="">กรุณาเลือก</option>
                          <% if(sex) { %>
                              <% for(var i=0; i < sex.length; i++){ %>
                                  <option value="<%= sex[i].idsex %>">
                                       <%= sex[i].name_sex %>
                                  </option>
                                  <%}%>
                                      <%}%>
                      </select>
                    <button type="submit" class="btn btn-success">เพิ่มข้อมูล</button>
                </div>

            </form>
        </div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class=" col-lg-10" >
        <div class="col-lg-1"></div>
      <section class="panel">
        <header class="panel-heading">  
          <b style="font-size: large;"> รายชื่อประชาชน<%= villagetype[0].name_village %> </b>
          
        </header>
        <div class="panel-body">
        <table id="tableusers_village" class="table table-bordered table-striped" >
          <thead>
            <tr>
                <th><i class="fa fa-list-ol" aria-hidden="true"></i> ลำดับ</th>
                <th><i class="icon_profile"></i> ชื่อ/นามสกุล</th>
                <th><i class="fa fa-id-card-o" aria-hidden="true"></i></i> รหัสบัตรประชาชน</th>
                <th><i class="icon_mobile"></i> เบอร์ติดต่อ</th>
                <th><i class="fa fa-users" aria-hidden="true"></i>เพศ</th>
                <th><i class="fa fa-home" aria-hidden="true"></i></i>ที่อยู่อาศัย</th>
                <th><i class="icon_cogs"></i> Action</th>
              </tr>
            </thead>
              <tbody>
              <%if(village){%>
                <% for(var i=0; i<village.length;i++ ){ %>
            
            <tr>
                <td><%= i+1 %></td>
              <td><%= village[i].fname_us%> <%= village[i].lname_us%></td>
              <td><%= village[i].idcard_us%></td>
              <td><%= village[i].phone_us%></td>
              <td><%= village[i].name_sex%></td>
              <td><%= village[i].address_us%> <%= village[i].name_village %></td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-warning"  href="/village<%= village[i].idvillage%>/edit<%= village[i].idusers%>"><i class="icon_check_alt2"></i> แก้ไขข้อมูล</a>
                  <a class="btn btn-danger" onclick="return confirm('ต้องการลบข้อมูลนี้หรือไม่??!? ชื่อ:<%= village[i].fname_us%> <%= village[i].lname_us%> ที่อยู่: <%= village[i].address_us%>');" href="/village<%= village[i].idvillage%>/delete<%= village[i].idusers %>"><i class="icon_close_alt2"></i> ลบข้อมูล</a>
                </div>
                
              </td>
            </tr>
            <%}%>
            <%}%>
          </tbody>
</table>
</div>
      </section>
    </div>
  </div>
</section>
</section>

<script>
    // Get the modal
    var modal = document.getElementById('popup');
  
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function() {
  $('#tableusers_village').DataTable();
} );
</script>

 

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 

<%- include ("../_footer") %>