<%- include ("../_header") %>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header"><i class="fa fa-files-o"></i> village INFORMATION</h3>
              
              <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
                <li><i class="icon_document_alt"></i>จัดการข้อมูลหมู่บ้าน</li>
              </ol>
            </div>
          </div>
        <div class="col-lg-9"></div>
        <a class="btn btn-primary"  onclick="document.getElementById('popup').style.display='block'"><i class="icon_plus_alt2"></i> เพิ่มข้อมูลหมู่บ้าน</a>
        <div id="popup" class="modal">
            <form class="form-validate modal-content animate" id="myform" action="/village/save" method="POST" data-toggle="validator" >
                <div class="imgcontainer">
                    <span onclick="document.getElementById('popup').style.display='none'" class="close" title="Close Modal">&times;</span>  
                </div>
                <div class="container">
                    <p align="center"><b> เพิ่มข้อมูลหมู่บ้าน</b></p><br>
                    <label for="uname"><b>ชื่อหมู่บ้าน</b></label>
                    <input type="text" name="name_village" class="form-control" id="fname" placeholder="กรุณากรอกชื่อ" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required/>
                    <div class="validation"></div>
                    <button type="submit" class="btn btn-success">เพิ่มข้อมูล</button>
                </div>

            </form>
        </div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class=" col-lg-10" >
        <div class="col-lg-1"></div>
      <section class="panel">
        <header class="panel-heading">  
          <b style="font-size: large;"> รายชื่อหมู่บ้าน </b>
          
        </header>
        <div class="panel-body">
        <table id="tablevillage" class="table table-bordered table-striped" >
          <thead>
            <tr>
                <th><i class="fa fa-list-ol" aria-hidden="true"></i> ลำดับ</th>
                <th><i class="fa fa-home" aria-hidden="true"></i> ชื่อหมู่บ้าน</th>
                <th><i class="icon_cogs"></i> Action</th>
              </tr>
            </thead>
              <tbody>
              <%if(village){%>
                <% for(var i=0; i<village.length;i++ ){ %>
            
            <tr>
                <td><%= i+1 %></td>
              <td><%= village[i].name_village%></td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-warning"  href="/village/edit<%= village[i].idvillage%>"><i class="icon_check_alt2"></i> แก้ไขข้อมูล</a>
                  <a class="btn btn-danger" onclick="return confirm('ต้องการลบข้อมูลนี้หรือไม่??!? ชื่อหมู่บ้าน:<%= village[i].name_village%>');" href="/village/delete<%= village[i].idvillage%>"><i class="icon_close_alt2"></i> ลบข้อมูล</a>
                  <a class="btn btn-info"  href="/village<%= village[i].idvillage%>/users"><i class="fa fa-user-circle" aria-hidden="true"></i> ดูรายชื่อประชาชนในหมู่บ้าน</a>
                </div>
                
              </td>
            </tr>
            <%}%>
            <%}%>
          </tbody>
</table>
</div>
      </section>
    </div>
  </div>
</section>
</section>

<script>
    // Get the modal
    var modal = document.getElementById('popup');
  
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function() {
  $('#tablevillage').DataTable();
} );
</script>

 

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 

<%- include ("../_footer") %>