@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

*{
    box-sizing: border-box;
}
html,body{
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#body-login{
    font-family: 'Prompt', sans-serif; 
    font-size: 50px;
    background: #63abee;
}
.head{
    width: 100%;
    height: 10%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.head p{
    font-size: 30px;
    animation: menuBoxOpacity 0.6s cubic-bezier(.17,.67,.83,.67);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.content{
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 80% auto;
    grid-template-columns: 100%;
    row-gap: 0;
    column-gap: 0;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    max-width: 100%;
    max-height: 100%;
    margin-top: 0px;
}
.login input{
    margin-bottom: 20px;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form button{
    border-radius: 5px;
    border: 0;
    background-color: #3ff03f;
    font-size: 20px;
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.2);;
    padding: 10px;
}

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.line hr{
    width: 40%;
}
.line p{
    padding: 0;
    margin: 0;
    text-shadow: 5px 5px 15px -2px rgba(0,0,0,0.2);
}
.register{
    grid-row-start: 2;
    margin-top: 20px;
}
.register-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.register button{
    border-radius: 5px;
    border: 0;
    background-color: #4ee1f5;
    font-size: 20px;
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.2);;
    padding: 10px;
}
label{
    font-size: 20px;
}
@keyframes menuBoxOpacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

.logo{
    margin-top: 20px;
    margin-bottom: 30px;
    animation: menuBoxOpacity 0.6s cubic-bezier(.17,.67,.83,.67);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.logo img{
    box-shadow: 5px 3px 24px -7px rgba(0,0,0,0.52);
    border-radius: 100px;
}
/* ----------------------------------------- Gear ------------------------------------------- */
@keyframes gearRotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}
@keyframes gearRotateBack{
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(0deg);
    }
}

.img-gear{
    display: inline-block;
    position: absolute;
    max-width: 4%;
    float: right;
    top: 0;
    right: 10px;
}

.rotate{
    animation: gearRotate 0.4s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.rotateBack{
    animation: gearRotateBack 0.4s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

/* --------------------------------- Dropdown Menu ----------------------------------- */

.top-right{
    display: inline-block;
    position: absolute;
}
.dropdowns-menu{
    list-style-type: none;
    background: transparent;
    display: inline-block;
    position: absolute;
    float: right;
    margin: 20px;
    top: 7%;
    right: 0;
}
.dropdowns-menu li{
    display: block;
    text-align: right;
    font-size: 20px;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 5px;
    padding-top: 0;
    margin-top: 0;
    
}
.dropdowns-menu li a{
    text-decoration: none;
    color: #fff;
}
/* -------------------------------------- iPhone ----------------------------------------- */
@media only screen and (max-device-width: 411px) and (max-device-height: 823px) {
    .logo{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 60px;
    }
    .logo img{
        width: 70%;
        border-radius: 70px;
    }
    .head p{
        font-size: 20px;
    }
    .img-gear{
        max-width: 10%;
    }
    .dropdowns-menu{
        top: 5%;
        margin: 0;
        padding: 0;
        top: 5%;
        right: 10px;
    }
    .dropdowns-menu li a{
        text-decoration: none;
        color: #fff;
        font-size: 10px;
    }
}

@media only screen and (max-device-width: 414px) and (max-device-height: 896px) {
    .logo{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 60px;
    }
    .logo img{
        width: 70%;
        border-radius: 70px;
    }
    .menu-box{
        width: 150px;
        height: 150px;
    }
}
@media only screen 
  and (max-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
        .logo{
            margin-bottom: 10px;
            margin-left: 83px;
        }
        .logo img{
            width: 55%;
            border-radius: 70px;
        }
        .head{
            width: 100%;
            height: 10%;
            font-size: 20px;
        }
        .head p{
            font-size: 20px;
        }
        .dropdowns-menu{
            top: 6%;
        }
        .login{
            margin-top: 0;
        }
        .register{
            margin-top: 10px;
        }
    }


    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
        .logo{
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 60px;
        }
        .logo img{
            width: 70%;
        }
        .dropdowns-menu{
            top: 5%;
        }
        .dropdowns-menu li{
            margin-top: 0;
            padding-top: 0;
        }
    }
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1200px) {
        html{
            overflow: hidden;
            overflow-y: hidden;
        }
        .logo img{
            border-radius: 100px;
        }
        .img-gear{
            max-width: 6%;
        }
        .dropdowns-menu{
            top: 8%;
            right: 20px;
            margin: 0;
            padding: 0;
        }
        .dropdowns-menu li a{
            font-size: 10px;
        }
    }
    @media only screen and (device-width: 768px){
        .img-gear{
            max-width: 10%;
            
        }
        .dropdowns-menu{
            top: 7%;
            right: 20px;
            margin: 0;
            padding: 0;
        }
    }
    @media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) {
    .logo{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 60px;
    }
    .logo img{
        width: 70%;
    }
    .img-gear{
        max-width: 10%;
    }
    .dropdowns-menu{
        top: 5%;
        margin: 0;
        padding: 0;
        top: 5%;
        right: 10px;
    }
    .dropdowns-menu li{
        padding-top: 0;
        margin-top: 0;
    }
    .dropdowns-menu li a{
        text-decoration: none;
        color: #fff;
        font-size: 10px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0;
    
    }
}