@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

*{
    box-sizing: border-box;
}
html,body{
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#body-menu{
    font-family: 'Prompt', sans-serif; 
    font-size: 50px;
    background: #63abee;
}
.head{
    width: 100%;
    height: 10%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.head p{
    font-size: 30px;
    animation: menuBoxOpacity 0.6s cubic-bezier(.17,.67,.83,.67);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.content{
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 100%;
    row-gap: 0;
    column-gap: 0;
}

.menu-left{
    grid-column-start: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 30px;
}
.menu-right{
    grid-column-start: 2;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
    flex-direction: column;
}
@keyframes menuBoxOpacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}
.menu-box{
    width: 170px;
    height: 170px;
    background-color: #f75d58;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: menuBoxOpacity 0.6s cubic-bezier(.17,.67,.83,.67);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.menu-box p{
    font-size: 15px;
}
.menu-box img{
    width: 70%;
}
.logo{
    margin-top: 20px;
    margin-bottom: 30px;
    animation: menuBoxOpacity 0.6s cubic-bezier(.17,.67,.83,.67);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.menu-box .img-garbage{
    width: 70%;
}

.logo img{
    box-shadow: 5px 3px 24px -7px rgba(0,0,0,0.52);
    border-radius: 100px;
}
/* ----------------------------------------- Gear ------------------------------------------- */
@keyframes gearRotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}
@keyframes gearRotateBack{
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(0deg);
    }
}

.img-gear{
    display: block;
    position: absolute;
    max-width: 10%;
    float: right;
    top: 0;
    right: 10px;
}

.rotate{
    animation: gearRotate 0.4s linear;
    -webkit-animation:  gearRotate 0.4s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    -webkit-animation:  gearRotate 0.4s linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: gearRotate 0.4 linear;
    -moz-animation-iteration-count: 1;
}
.rotateBack{
    animation: gearRotateBack 0.4s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    -webkit-animation:  gearRotateBack 0.4s linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: gearRotateBack 0.4 linear;
    -moz-animation-iteration-count: 1;
}

/* --------------------------------- Dropdown Menu ----------------------------------- */

.top-right{
    display: inline-block;
    position: absolute;
}
.dropdowns-menu{
    list-style-type: none;
    background: transparent;
    display: inline-block;
    position: absolute;
    margin: 20px;
    top: 7%;
    right: 0;
}
.dropdowns-menu li{
    display: block;
    text-align: center;
    font-size: 20px;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 5px;
    padding-top: 0;
    margin-top: 0;
    
}
.dropdowns-menu li a{
    text-decoration: none;
    color: #fff;
}
/* -------------------------------------- iPhone ----------------------------------------- */
@media only screen and (max-device-width: 411px) and (max-device-height: 823px) {
    .menu-left{
        padding-right: 15px;
    }
    .menu-right{
        margin-left: 15px;
    }
    .head p{
        font-size: 20px;
    }
    .logo{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 60px;
    }
    .logo img{
        width: 50%;
        border-radius: 70px;
    }
    .menu-box{
        width: 150px;
        height: 150px;
    }
    .menu-box .img_report{
        width: 50%;
        margin-top: 5px;
    }
    .img-gear{
        max-width: 18%;
    }
    .dropdowns-menu{
        top: 5%;
        margin: 0;
        padding: 0;
        top: 5%;
        right: 10px;
    }
    .dropdowns-menu li a{
        text-decoration: none;
        color: #fff;
        font-size: 10px;
    }
}

@media only screen and (max-device-width: 414px) and (max-device-height: 896px) {
    .menu-left{
        padding-right: 15px;
    }
    .menu-right{
        margin-left: 15px;
    }
    .logo{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 60px;
    }
    .logo img{
        width: 70%;
        border-radius: 70px;
    }
    .menu-box{
        width: 150px;
        height: 150px;
    }
}
@media only screen 
  and (max-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
        .menu-left{
            padding-right: 15px;
        }
        .menu-right{
            margin-left: 15px;
        }
        .logo{
            margin-bottom: 10px;
            margin-left: 83px;
        }
        .logo img{
            width: 55%;
            border-radius: 70px;
        }
        .head{
            width: 100%;
            height: 10%;
            font-size: 20px;
        }
        .menu-box{
            width: 120px;
            height: 120px;
            margin-bottom: 10px;
        }
        .menu-box p{
            font-size: 15px;
        }
        .menu-box img{
            width: 50%;
        }
        .menu-box .img_report{
            width: 40%;
            margin-bottom: 10px;
        }
        .head p{
            font-size: 20px;
        }
        .dropdowns-menu{
            top: 6.5%;
        }
    }


    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
        .menu-left{
            padding-right: 15px;
        }
        .menu-right{
            margin-left: 15px;
        }
        .logo{
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 60px;
        }
        .logo img{
            width: 70%;
        }
        .menu-box{
            width: 300px;
            height: 210px;
        }
        .dropdowns-menu{
            top: 5%;
        }
        .dropdowns-menu li{
            margin-top: 0;
            padding-top: 0;
        }
    }
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1200px) {
        html{
            overflow: hidden;
            overflow-y: hidden;
        }
        .logo img{
            border-radius: 100px;
        }
        .content{
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-rows: 50% 50%;
            grid-template-columns: 100% 0;
            row-gap: 0;
            column-gap: 0;
        }
        .menu-left{
            grid-row-start: 1;
            width: 100%;
            padding-right: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            
        }
        .menu-right{
            grid-row-start: 2;
            grid-column-start: 1;
            margin-left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }
        .menu-box{
            width: 170px;
            height: 170px;
            background-color: #f75d58;
            border-radius: 10px;
            box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 15px;
        }
        .img-gear{
            max-width: 15%;
        }
        .dropdowns-menu{
            top: 8%;
            right: 20px;
            margin: 0;
            padding: 0;
        }
        .dropdowns-menu li a{
            font-size: 10px;
        }
    }
    @media only screen and (device-width: 768px){
        .img-gear{
            max-width: 15%;
            
        }
        .dropdowns-menu{
            top: 7%;
            right: 20px;
            margin: 0;
            padding: 0;
        }
    }
    @media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) {
    .menu-left{
        padding-right: 15px;
    }
    .menu-right{
        margin-left: 15px;
    }
    .logo{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 60px;
    }
    .logo img{
        width: 70%;
    }
    .menu-box{
        width: 130px;
        height: 150px;
    }
    .menu-box .img_report{
        width: 50%;
        margin-top: 5px;
    }
    .img-gear{
        max-width: 15%;
    }
    .dropdowns-menu{
        top: 5%;
        margin: 0;
        padding: 0;
        top: 5%;
        right: 10px;
    }
    .dropdowns-menu li{
        padding-top: 0;
        margin-top: 0;
    }
    .dropdowns-menu li a{
        text-decoration: none;
        color: #fff;
        font-size: 10px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0;
    
    }
}