<%- include ("../_headerusers") %>
    <html>
    <br> <br>
    <div align="center">

        <div><b>การลงเวลาเข้าเรียน-ออกเรียน</b>

            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                <title>CSS3 Digital Clock with jQuery</title>
  
                <script>

                    //initialize the clock in a self-invoking function
                    (function clock() {
                        var hour = document.getElementById("hour"),
                            min = document.getElementById("min"),
                            sec = document.getElementById("sec");
                        //set up a loop
                        (function loop() {
                            requestAnimFrame(loop);
                            draw();
                        })();
                        //position the hands
                        function draw() {
                            var now = new Date(),//now
                                then = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 0, 0, 0),//midnight
                                diffInMil = (now.getTime() - then.getTime()),// difference in milliseconds
                                h = (diffInMil / (1000 * 60 * 60)),//hours
                                m = (h * 60),//minutes
                                s = (m * 60);//seconds
                            //rotate the hands accordingly
                            $('#sec').style.webkitTransform = "rotate(" + (s * 6) + "deg)";
                            $('#hour').style.webkitTransform = "rotate(" + (h * 30 + (h / 2)) + "deg)";
                            $('#min').style.webkitTransform = "rotate(" + (m * 6) + "deg)";
                        }
                    })();
                </script>
               
            </head>

            <body>
                <div class="icon-large icon-clock">
                    <div class="clock">
                        <ol>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ol>
                        <div id="hour"></div>
                        <div id="min"></div>
                        <div id="sec"></div>
                    </div>
                </div>
               

            </body>
            <br><br><br>

        </div>

        <div>
            <p><img src="/img/alert.png" alt="user" style="height: 20px;">การลงเวลา</p>
            <button type="submit" class="btn btn-success">
                <font size="5px;"><b>เช็คชื่อ</b></font>
            </button>
        </div>
    </div>

    </html>
    <%- include ("../_footerusers") %>