<%- include ("../_headerusers") %>

    <html>
    <div class="icon-large icon-clock">
        <div class="clock">
            <ol style="color: rgb(0, 4, 255);  text-shadow: 2px 2px #ffffff;
            ">
                <b>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li></b>
            </ol>
            <div id="hour"></div>
            <div id="min"></div>
            <div id="sec"></div>
        </div>
    </div>
    <br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br>
    <div align="center">
        <font size="5px"><b>การลงเวลาเข้าเรียน - ออกเรียน</b></font>
    </div>
    <ul style="margin:0 auto; padding:0px; list-style:none; text-align:center;">
        <b>
            <p id="hours2"></p>
            <p id="point2">:</p>
            <p id="min2"></p>
            <p id="point2">:</p>
            <p id="sec2"></p>
            <!-- <p >น.</p></b> -->
    </ul>
    <div id="Date"></div>
    <br><br>
    <div align="center">
        <p><img src="/img/alert.png" alt="user" style="height: 20px;">การลงเวลา</p>
        <button type="submit" class="btn btn-success">
            <font size="5px;"><b>ลงเวลาเข้า - ออก</b></font>
        </button>
    </div>

    <style type="text/css">
        #Date {
            font-size: 14px;
            text-align: center;
            text-shadow: 0 0 5px #a8ff80;
        }

        ul p {
            display: inline;
            font-size: 40px;
            text-align: center;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            text-shadow: 0 0 5px #ffffff;
        }

        #point2 {
            position: relative;
            /* -moz-animation:mymove 1s ease infinite;
    -webkit-animation:mymove 1s ease infinite; */
            padding-left: 10px;
            padding-right: 10px;
        }

        @-webkit-keyframes mymove {
            0% {
                opacity: 1.0;
                text-shadow: 0 0 20px #00c6ff;
            }

            50% {
                opacity: 0;
                text-shadow: none;
            }

            100% {
                opacity: 1.0;
                text-shadow: 0 0 20px #00c6ff;
            }
        }

        @-moz-keyframes mymove {
            0% {
                opacity: 1.0;
                text-shadow: 0 0 20px #00c6ff;
            }

            50% {
                opacity: 0;
                text-shadow: none;
            }

            100% {
                opacity: 1.0;
                text-shadow: 0 0 20px #00c6ff;
            }
        }
    </style>
    <style>
        .icon-large {
            width: 220px;
            height: 220px;
            border-radius: 38px;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);

        }

        .icon-clock {
            margin-left: center;
            overflow: hidden;
            position: absolute;
            background: rgb(0, 0, 0);
            width: 300;
            height: 300;
        }

        .clock {
            width: 192px;
            height: 192px;
            border-radius: 50%;
            background-image:url("https://scontent.fcnx3-1.fna.fbcdn.net/v/t39.30808-6/292777149_456566943140153_3500386730710815389_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=_40gKzuqZkQAX-JoGJL&_nc_ht=scontent.fcnx3-1.fna&oh=00_AfB1x5QfIax7HM2wxJVBYyh4dCa5wGaXZnQpEGbqyFVb9Q&oe=63835D66");
            background-size: 195px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .clock ol {
            list-style-type: none;
            width: 100%;
            height: 100%;
            position: relative;
            margin: 0;
            padding: 0;
        }

        .clock ol li {
            counter-increment: labelCounter;
            position: absolute;
            font-size: 1.25em;
        }

        .clock ol li:before {
            font-family: 'Helvetica';
            content: counter(labelCounter) "";
        }

        .clock ol li:nth-child(1) {
            right: 55px;
            top: 20px;
            
        }

        .clock ol li:nth-child(2) {
            right: 25px;
            top: 50px;
        }

        .clock ol li:nth-child(3) {
            right: 12px;
            top: 85px;
        }

        .clock ol li:nth-child(4) {
            right: 25px;
            top: 125px;
        }

        .clock ol li:nth-child(5) {
            right: 55px;
            top: 150px;
        }

        .clock ol li:nth-child(6) {
            right: 90px;
            top: 160px;
        }

        .clock ol li:nth-child(7) {
            right: 125px;
            top: 150px;
        }

        .clock ol li:nth-child(8) {
            right: 155px;
            top: 125px;
        }

        .clock ol li:nth-child(9) {
            right: 165px;
            top: 85px;
        }

        .clock ol li:nth-child(10) {
            right: 150px;
            top: 50px;
        }

        .clock ol li:nth-child(11) {
            right: 120px;
            top: 20px;
        }

        .clock ol li:nth-child(12) {
            right: 85px;
            top: 10px;
        }

        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }

        #hour {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #303030;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -7px;
            margin-left: -7px;
        }

        #hour:before,
        #hour:after {
            content: "";
            display: block;
            position: absolute;
        }

        #hour:before {
            width: 8px;
            height: 65px;
            border-radius: 4px;
            background: #303030;
            position: absolute;
            bottom: 2px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        #min {
            width: 0;
            height: 0;
            border-radius: 50%;
            background: #303030;
            position: absolute;
            top: 50%;
            left: 50%;
        }

        #min:before,
        #min:after {
            content: "";
            display: block;
            position: absolute;
        }

        #min:before {
            width: 6px;
            height: 90px;
            border-radius: 4px;
            background: #303030;
            position: absolute;
            bottom: 2px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        #sec {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #dd3e1c;
            border: 2px solid #e13e1b;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -4px;
            margin-left: -4px;
        }

        #sec:before,
        #sec:after {
            content: "";
            display: block;
            position: absolute;
        }

        #sec:before {
            width: 2px;
            height: 105px;
            border-radius: 4px;
            background: #e13e1b;
            position: absolute;
            bottom: -12px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    </style>
    <script>
        //https://codepen.io/chrisota/pen/JoYWQM

        // Yay for SO - http://stackoverflow.com/questions/23847310/css-and-jquery-analog-clock-smooth-animation
        //use requestAnimationFrame for smoothness (shimmed with setTimeout fallback)
        window.requestAnimFrame = (function () {
            return window.requestAnimationFrame ||
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame ||
                function (callback) {
                    window.setTimeout(callback, 1000 / 60);
                };
        })();

        //initialize the clock in a self-invoking function
        (function clock() {
            var hour = document.getElementById("hour"),
                min = document.getElementById("min"),
                sec = document.getElementById("sec");
            //set up a loop
            (function loop() {
                requestAnimFrame(loop);
                draw();
            })();
            //position the hands
            function draw() {
                var now = new Date(),//now
                    then = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 0, 0, 0),//midnight
                    diffInMil = (now.getTime() - then.getTime()),// difference in milliseconds
                    h = (diffInMil / (1000 * 60 * 60)),//hours
                    m = (h * 60),//minutes
                    s = (m * 60);//seconds
                //rotate the hands accordingly
                sec.style.webkitTransform = "rotate(" + (s * 6) + "deg)";
                hour.style.webkitTransform = "rotate(" + (h * 30 + (h / 2)) + "deg)";
                min.style.webkitTransform = "rotate(" + (m * 6) + "deg)";
            }
        })();
    </script>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var monthNames = ["มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"];
            var dayNames = ["อาทิตย์", "จันทร์", "อังคาร", "พุธ", "พฤหัสบดี", "ศุกร์", "เสาร์"]
            var newDate = new Date();
            newDate.setDate(newDate.getDate());
            // แสดงผล วัน วันที่ เดือน ปี 
            $('#Date').html(dayNames[newDate.getDay()] + " " + newDate.getDate() + ' ' + monthNames[newDate.getMonth()] + ' ' + (newDate.getFullYear() + 543));
            //เชค ถ้าน้อยกว่า 10 ให้ใส่ 0 ข้างหน้า
            setInterval(function () {
                var seconds = new Date().getSeconds();
                $("#sec2").html((seconds < 10 ? "0" : "") + seconds);
            }, 1000);
            setInterval(function () {
                var minutes = new Date().getMinutes();
                $("#min2").html((minutes < 10 ? "0" : "") + minutes);
            }, 1000);
            setInterval(function () {
                var hours = new Date().getHours();
                $("#hours2").html((hours < 10 ? "0" : "") + hours);
            }, 1000);
        });
    </script>

    </html>
    <%- include ("../_footerusers") %>