<%- include ("../_headerusers") %>

<body id="body-menu">
    <header>
        <img class="img-gear" src="/img/gear.png">
        <ul class="dropdowns-menu">
            <li><a href="/logoutusers" style="color: rgb(250, 112, 112);">ออกจากระบบ</a></li>
        </ul>
        <div class="container-lg head">
            <div class="logo">
                <img src="logo/logo.png" alt="">
            </div>
            <p><%= name %></p>
        </div>
    </header>

    <article>
        <section>
                <div class="container">
                    <a href="/alerts" class="btn" style="color: black;">
                        <div class="container-sm menu-box">
                            <img image/png src="logo/shield.png" alt="">
                            <p>
                                    แจ้งเหตุ
                            </p>
                        </div>
                    </a>
                    <a href="/question" class="btn" style="color: black;">
                        <div class="container-sm menu-box">
                            <img image/png src="logo/checklist.png" alt="">
                            <p>
                                    แบบสอบถามโควิด
                            </p>
                        </div>
                    </a>
                </div>
        </section>
    </article>
    <%- include ("../_footerusers") %>
