<%- include ("../_headerusers") %>

<body id="body-menu">
    <header>
        <img class="img-gear" src="/img/gear.png" alt="">
        <ul class="dropdowns-menu">
            <li><a href="/alerts/history" style="color: rgb(250, 112, 112);">ประวัติ</a></li>
            <li><a href="/indexusers" style="color: rgb(250, 112, 112);">กลับสู่หน้าหลัก</a></li>
            <li><a href="/logoutusers" style="color: rgb(250, 112, 112);">ออกจากระบบ</a></li>
        </ul>
        <div class="container-lg head">
            <div class="logo">
                <img src="logo/logo.png" alt="">
            </div>
            <p><%=name%></p>
            <p style="text-decoration: underline;">แจ้งเหตุ</p>
        </div>
    </header>

    <article>
        <section>
            <% JSON.stringify(alertstype) %>
                <div class="container">
                    <% if(alertstype){ %>
                        <% for(var i=0; i<alertstype.length;i++ ){ %>
                    <a href="/alerts/add<%=alertstype[i].idalertstype%>" class="btn" style="color: black;">
                        <div class="container-sm menu-box">
                            <img image/png src="icon/<%=alertstype[i].icon%>" alt="">
                            <p>
                                    <%=alertstype[i].name_alty%>
                            </p>
                        </div>
                    </a>
                    
                    <%}%>
                    <%}%>
                </div>
        </section>
    </article>

    <%- include ("../_footerusers") %>