<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Notify</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../logo/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&display=swap" rel="stylesheet">
    <link href="../vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="../assets/themify-icons.css">
    <link rel="stylesheet" href="../notify.css">
</head>

<body>
    <% JSON.stringify(cookies.idusers) %>
    <div class="container-contact100">
		<div class="wrap-contact100">
            <a href="/alerts" class="btn btn-primary" ><i class="fas fa-arrow-circle-left"></i>กลับ</a>
            <form class="div_al_pu" action="/alerts/save" enctype="multipart/form-data" method="POST">
                <span class="contact100-form-title">
                    <b>แจ้งเหตุ
                        <% if(alertstype){ %>
                            <%= alertstype.name_alty%>
                        <%}%></b>
                    </span>
                <input type="hidden" value="<%=alertstype.idalertstype%>" name="alertstype_id">
                <input type="hidden" value="<%=cookies.idusers%>" name="userid_al">
                <div class="container-form">
                    <a class="btn btn-warning" onclick="get.getLocation()"><i class="fas fa-map-marker-alt"></i> คลิกเพื่อระบุตำแหน่งที่อยู่</a>
                    <br>
                    <input type="hidden" id="latitude_id" value="" name="latitude" >
                    <input type="hidden" id="longitude_id" value="" name="longitude" >
                    <div id="gmap_canvas"></div>
                </div>
                <div class="form-group">
                    <span class="span_p">รายละเอียด<p style="font-size: 20px; color: red; display: inline-block;">*</p></span>
                    <div class="input-group input_d_g">
                        <textarea type="text" class="form-control" name="detail_al" required></textarea>
                    </div>
                </div>
                <div class="form-group" align="center">
                    <br>
                    <img id="blah" width="200px" height="120px" />
                    <br>
                    <label class="mt-3 label danger" for="img_xx"><i
                        style="cursor: pointer;"
                        >คลิกเพื่อเลือกรูปภาพ</i></label>
                    <input type="file" name="filename" accept="image/*" multiple id="img_xx" class="btn btn-info" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                </div>

                <div class="container-contact100-form-btn">

                        <button type="submit" class="contact100-form-btn"">ยืนยัน</button>
                    </div>

            </form>
            </div>
            </div>
    <script>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="../js/get.js"></script>

</body>
</html>
