<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">

</head>

<body>
    <style>
        body {
            background-color: rgba(55, 228, 55, 0.685);
        }
    </style>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        Swal.fire({
            icon: 'success',
            title: 'ทำรายการแจ้งเหตุสำเร็จ',
            text: 'ผู้ดูแลจะดำเนินทำการตรวจสอบข้อมูลให้เร็วที่สุด',
            footer: 'กำลังทำการกลับไปหน้าเมนูแจ้งเหตุ',
            showConfirmButton: false,
            timer: 4500,
        });
        setTimeout(function() {
            window.history.go(-2);
        }, 4500)
    </script>
</body>

</html>