<%- include ("../_header") %>
<section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-files-o"></i> DELETE INFORMATION</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
            <li><i class="icon_document_alt"></i><a href="/admin"> จัดการข้อมูล</a></li>
            <li><i class="fa fa-files-o"></i>ลบข้อมูล</li>
          </ol>
        </div>
      </div>
      <!-- Form validations -->
      <div class="row">
        <div class="col-lg-3"> </div>
        <div class="col-lg-5">
            <div class="col-lg-2"> </div>
          <section class="panel">
            <header class="panel-heading">
                <b style="font-size: large;"> ลบข้อมูลแอดมินที่ดูแลระบบ </b>
                <a href="/admin" style="color: black; font-size: 30px; position: sticky; display: flexbox; left: 65%;" ><i class="fa fa-times" aria-hidden="true"></i></a>
            </header>
            <div class="col-lg-2"> </div>
                                <div class="card-block accordion-block color-accordion-block">
                                    <div class="color-accordion" id="color-accordion">
                                        <form action="/admin/conDelete<%=deletes.idadmins%>">
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row" style="font-size: 20px;" class="">
                                                                    ชื่อ</th>
                                                                <td class="">

                                                                </td>
                                                                <td style="font-size: 20px;" class="">
                                                                    <%= deletes.fname_ad%>
                                                                        <%= deletes.lname_ad%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" style="font-size: 20px;" class="">
                                                                    เบอร์โทรศัพท์</th>
                                                                <td class=""></td>
                                                                <td style="font-size: 20px;" class="">
                                                                    <%= deletes.phone_ad%>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <th scope="row" style="font-size: 20px;" class="">
                                                                    ชื่อผู้ใช้</th>
                                                                <td class=""></td>
                                                                <td style="font-size: 20px;" class="">
                                                                    <%= deletes.username%>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <th scope="row" style="font-size: 20px; " class="">
                                                                    รหัสผ่าน
                                                                </th>
                                                                <td class=""></td>
                                                                <td style="font-size: 20px;" class="">
                                                                    <%= deletes.password%>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <br>
                                                    <div align="center" class="text-center">
                                                        <button
                                                            class="btn btn-mat waves-effect waves-light btn-danger " onclick="myFunction()"><span>ยืนยัน
                                                        </span> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Color Open Accordion ends -->
                    </div>
                    <!-- Row end -->
                </div>
                <!-- Page-body end -->
            </div>
        </div>
        <div id="styleSelector">

        </div>
    </div>
    <style>
        body {
            font-family: 'Kanit', sans-serif;
            font-style: bold;
        }
    </style>
    <%- include ("../_footer") %>