<%- include ("../_header") %>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header"><i class="fa fa-files-o"></i> ADMIN INFORMATION</h3>
              <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
                <li><i class="icon_document_alt"></i>จัดการข้อมูลแอดมิน</li>
              </ol>
            </div>
          </div>
          <!--  search form start -->
          <ul class="nav top-menu">
            <li>
              <form class="navbar-form">
                <input class="form-control" placeholder="Search" type="text">
              </form>
            </li>
          </ul>
          <!--  search form end -->
        <div class="col-lg-9"></div>
        <a class="btn btn-primary"  onclick="document.getElementById('popup').style.display='block'"><i class="icon_plus_alt2"></i> เพิ่มข้อมูลแอดมิน</a>
        <div id="popup" class="modal">
            <form class="modal-content animate" action="/admin/save" method="POST" data-toggle="validator" >
                <div class="imgcontainer">
                    <span onclick="document.getElementById('popup').style.display='none'" class="close" title="Close Modal">&times;</span>  
                </div>
                <div class="container">
                    <p align="center"><b> เพิ่มข้อมูลแอดมิน</b></p><br>
                    <label for="uname"><b>ชื่อ</b></label>
                    <input type="text" name="fname_ad" class="form-control" id="fname" placeholder="กรุณากรอกชื่อ" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required/>
                    <div class="validation"></div>
                    <label for="uname"><b>นามสกุล</b></label>
                    <input type="text" name="lname_ad" class="form-control" id="lame" placeholder="กรุณากรอกนามสกุล" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required/>
                    <div class="validation"></div>
                    <label for="uname"><b>เบอร์ติดต่อ</b></label>
                    <input type="text" name="phone_ad" class="form-control" id="phone" placeholder="กรุณากรอกเบอร์ติดต่อ" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required/>
                    <div class="validation"></div>
                    <label for="uname"><b>Username</b></label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="กรุณากรอกบัญชีผู้ใช้" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required/>
                    <div class="validation"></div>
                    <label for="uname"><b>Password</b></label>
                    <input type="text" name="password" class="form-control" id="password" placeholder="กรุณากรอกรหัสผ่าน" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required/>
                    <div class="validation"></div>
                    <button type="submit" id="popup" class="btn btn-success">เพิ่มข้อมูล</button>
                </div>

            </form>
        </div>
        <%JSON.stringify(admin)%>
<div class="row">
    <div class="col-lg-1"></div>
    <div class=" col-lg-10" >
        <div class="col-lg-1"></div>
      <section class="panel">
        <header class="panel-heading">  
          <b style="font-size: large;"> รายชื่อแอดมินที่ดูแลระบบ </b>
          
        </header>
        <div class="panel-body">
        <table id="tableadmin" class="table table-bordered table-striped" >
          <thead>
            <tr>
                <th><i class="fa fa-list-ol" aria-hidden="true"></i> ลำดับ</th>
                <th><i class="icon_profile"></i> ชื่อ/นามสกุล</th>
                <th><i class="fa fa-user-circle" aria-hidden="true"></i> บัญชีผู้ใช้</th>
                <th><i class="fa fa-unlock-alt" aria-hidden="true"></i> รหัสผ่าน</th>
                <th><i class="icon_mobile"></i> เบอร์ติดต่อ</th>
                <th><i class="icon_cogs"></i> Action</th>
              </tr>
            </thead>
              <tbody>
              <%if(admin){%>
                <% for(var i=0; i<admin.length;i++ ){ %>
            
            <tr>
                <td><%= i+1 %></td>
              <td><%= admin[i].fname_ad%> <%= admin[i].lname_ad%></td>
              <td><%= admin[i].username%></td>
              <td><%= admin[i].password%></td>
              <td><%= admin[i].phone_ad%></td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-warning"  href="/admin/edit<%= admin[i].idadmins%>"><i class="icon_check_alt2"></i> แก้ไขข้อมูล</a>
                  <a class="btn btn-danger" onclick="return confirm('ต้องการลบข้อมูลนี้หรือไม่??!? ชื่อ:<%= admin[i].fname_ad%> <%= admin[i].lname_ad%> (แอดมิน)');" href="/admin/delete<%= admin[i].idadmins%>"><i class="icon_close_alt2"></i> ลบข้อมูล</a>
                </div>
                
              </td>
            </tr>
            <%}%>
            <%}%>
          </tbody>
</table>
</div>
      </section>
    </div>
  </div>
</section>
</section>
<script>
    // Get the modal
    var modal = document.getElementById('popup');
  
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function() {
  $('#tableadmin').DataTable();
} );
</script>
 

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 

<%- include ("../_footer") %>