<%- include ("../_header") %>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header"><i class="fa fa-files-o"></i> SCREENING  INFORMATION</h3>
              
              <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
                <li><i class="icon_document_alt"></i><a href="/screening">รายการชุดแบบสอบถาม</a> </li>
                <li><i class="fa fa-hashtag" aria-hidden="true"></i>สำรวจการฉีดวัคซีนโดวิด-19 </li>
              </ol>
            </div>
          </div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class=" col-lg-8" >
        <div class="col-lg-1"></div>
      <section class="panel">
        <header class="panel-heading">  
          <b style="font-size: large;"> สำรวจการฉีดวัคซีนโดวิด-19 </b>
          
        </header>
        <div class="panel-body">
        <table id="tablepersonnel" class="table table-bordered table-striped" >
          <thead>
            <tr>
                <th><i class="fa fa-list-ol" aria-hidden="true"></i> ลำดับ</th>
                <th><i class="icon_profile"></i> รายละเอียดประชาชน</th>
                <th><i class="fa fa-medkit" aria-hidden="true"></i> ข้อมูลการรับวัคซีน</th>
                <th><i class="icon_cogs"></i> Action</th>
              </tr>
            </thead>
            <tbody>
              <%if(vaccine){%>
                <% for(var i=0; i<vaccine.length;i++ ){ %> 
            <tr>
              <td><%= i+1 %></td>
              <td>เลขบัตรประชาชน: <%= vaccine[i].idcard_us%> <br>
                  ชื่อ: <%= vaccine[i].fname_us%> <%= vaccine[i].lname_us%> <br>เบอร์ติดต่อ: <%= vaccine[i].phone_us %> <br>
                ที่อยู่: <%= vaccine[i].address_us %> <%= vaccine[i].name_village %> <br>
              </td>
              <td>
                <% if(vaccine[i].type_get==0){%> ยังไม่ได้รับวัคซีน 
                    <%}else if(vaccine[i].type_get==1){%> รับวัคซีนแล้ว 1 เข็ม<br> วัคซีนที่ได้รับ: <%= vaccine[i].namevaccine%>
                        <%}else{%> รับวัคซีนแล้ว 2 เข็ม <br> <%= vaccine[i].namevaccine%><%}%>
              </td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-danger" onclick="return confirm('ยืนยันการลบ!! ลำดับที่: <%= i+1 %> <%=vaccine[i].fname_us%> <%=vaccine[i].lname_us%>  ที่อยู่: <%= vaccine[i].address_us %> <%= vaccine[i].name_village %>');" href="/screening/vaccine/delete<%=vaccine[i].idget_vaccine%>"><i class="icon_close_alt2"></i> ลบข้อมูล</a>
                </div>
              </td>
            </tr>   
            <%}%>
            <%}%>
        </tbody>   
</table>
</div>
      </section>
    </div>
  </div>
</section>
</section>

<script>
    // Get the modal
    var modal = document.getElementById('popup');
  
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
    $(document).ready(function() {
    $('#tablepersonnel').DataTable();
} );
  </script>
  
 

<%- include ("../_footer") %>