<%- include ("../_header") %>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header"><i class="fa fa-files-o"></i> SCREENING  INFORMATION</h3>
              
              <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
                <li><i class="icon_document_alt"></i><a href="/screening">รายการชุดแบบสอบถาม</a> </li>
                <li><i class="fa fa-hashtag" aria-hidden="true"></i>ติดตามเฝ้าระวังสังเกตุอาการ </li>
              </ol>
            </div>
          </div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class=" col-lg-10" >
        <div class="col-lg-1"></div>
      <section class="panel">
        <header class="panel-heading">  
          <b style="font-size: large;"> ติดตามเฝ้าระวังสังเกตุอาการ </b>
          
        </header>
        <div class="panel-body">
        <table id="tablepersonnel" class="table table-bordered table-striped" >
          <thead>
            <tr>
                <th><i class="fa fa-list-ol" aria-hidden="true"></i> ลำดับ</th>
                <th><i class="icon_profile"></i> รายละเอียดประชาชน</th>
                <th><i class="fa fa-question-circle-o" aria-hidden="true"></i> อาการเบื้องต้น</th>
                <th><i class="icon_cogs"></i> Action</th>
              </tr>
            </thead>
            <tbody>
              <%if(symptoms){%>
                <% for(var i=0; i<symptoms.length;i++ ){ %>
                  
            <tr>
                <td><%= i+1 %></td>
              <td>เลขบัตรประชาชน: <%= symptoms[i].idcard_us%> <br>
                  ชื่อ: <%= symptoms[i].fname_us%> <%= symptoms[i].lname_us%> <br>เบอร์ติดต่อ: <%= symptoms[i].phone_us %> <br>
                ที่อยู่: <%= symptoms[i].address_us %> <%= symptoms[i].name_village %> <br>
                อุณหภูมิที่วัดได้: <%= symptoms[i].fever_ns %> องศา <%if(symptoms[i].fever_ns > 37.5){%><i class="fa fa-exclamation" aria-hidden="true" style="color: red;"></i> <%}%> <br>
                ให้ข้อมูลเมื่อ:<%= datetime[i].date %> <%=datetime[i].time %>
            </td>
              <td>1.มีอารการไอ: <%if(symptoms[i].symptom1_ns == 0){%>ไม่<%}else{%>ใช่ <i class="fa fa-exclamation" aria-hidden="true" style="color: red;"></i><%}%> <br>
                2.มีอารการเจ็บคอ: <%if(symptoms[i].symptom2_ns == 0){%>ไม่<%}else{%>ใช่ <i class="fa fa-exclamation" aria-hidden="true" style="color: red;"></i><%}%> <br>
                3.มีน้ำมูก: <%if(symptoms[i].symptom3_ns == 0){%>ไม่<%}else{%>ใช่ <i class="fa fa-exclamation" aria-hidden="true" style="color: red;"></i><%}%> <br>
                4.มีเสมหะ: <%if(symptoms[i].symptom4_ns == 0){%>ไม่<%}else{%>ใช่ <i class="fa fa-exclamation" aria-hidden="true" style="color: red;"></i><%}%> <br>
                5.หายใจลำบาก: <%if(symptoms[i].symptom5_ns == 0){%>ไม่<%}else{%>ใช่ <i class="fa fa-exclamation" aria-hidden="true" style="color: red;"></i><%}%> <br>
                6.หอบเหนื่อย: <%if(symptoms[i].symptom6_ns == 0){%>ไม่<%}else{%>ใช่ <i class="fa fa-exclamation" aria-hidden="true" style="color: red;"></i><%}%> <br>
                7.ปวดกล้ามเนื้อ: <%if(symptoms[i].symptom7_ns == 0){%>ไม่<%}else{%>ใช่ <i class="fa fa-exclamation" aria-hidden="true" style="color: red;"></i><%}%> <br>
                8.ปวดศรีษะ: <%if(symptoms[i].symptom8_ns == 0){%>ไม่<%}else{%>ใช่ <i class="fa fa-exclamation" aria-hidden="true" style="color: red;"></i><%}%> <br>
                9.ถ่ายเหลว: <%if(symptoms[i].symptom9_ns == 0){%>ไม่<%}else{%>ใช่ <i class="fa fa-exclamation" aria-hidden="true" style="color: red;"></i><%}%> <br>
                10.จมูกไม่ได้กลิ่น: <%if(symptoms[i].symptom10_ns == 0){%>ไม่<%}else{%>ใช่ <i class="fa fa-exclamation" aria-hidden="true" style="color: red;"></i><%}%> <br>
                11.ลิ้นไม่สามารถรับรส: <%if(symptoms[i].symptom11_ns == 0){%>ไม่<%}else{%>ใช่ <i class="fa fa-exclamation" aria-hidden="true" style="color: red;"></i><%}%> <br>
                12.ตาแดง: <%if(symptoms[i].symptom12_ns == 0){%>ไม่<%}else{%>ใช่ <i class="fa fa-exclamation" aria-hidden="true" style="color: red;"></i><%}%> <br>
                13.มีผื่น: <%if(symptoms[i].symptom13_ns == 0){%>ไม่<%}else{%>ใช่ <i class="fa fa-exclamation" aria-hidden="true" style="color: red;"></i><%}%> 
            </td>
              <td align="center">
                <div class="btn-group" >
                  <a class="btn btn-warning"  href="https://www.google.com/maps/search/?api=1&query= <%= symptoms[i].latitude_ns %> , <%= symptoms[i].longitude_ns %>&@<%= symptoms[i].latitude_ns %>,<%= symptoms[i].longitude_ns %>,z=17" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i> แผนที่</a> 
                  <a class="btn btn-danger" onclick="return confirm('ยืนยันการลบ!! ลำดับที่: <%= i+1 %> <%=symptoms[i].fname_us%> <%=symptoms[i].lname_us%>  ที่อยู่: <%= symptoms[i].address_us %> <%= symptoms[i].name_village %>');" href="/screening/symptoms/delete<%=symptoms[i].idget_vaccine%>"><i class="icon_close_alt2"></i> ลบข้อมูล</a>
                  <a class="btn btn-info" href="/screening/symptoms/search<%= symptoms[i].idcard_us%>"><i class="fa fa-files-o" aria-hidden="true"></i> ข้อมูลเข้าออกพื้นที่</a>
                </div>
                
              </td>
            </tr>
          
            <%}%>
            <%}%>
          </tbody>
</table>
</div>
      </section>
    </div>
  </div>
</section>
</section>

<script>
    // Get the modal
    var modal = document.getElementById('popup');
  
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
    $(document).ready(function() {
    $('#tablepersonnel').DataTable();
} );
  </script>
  
 

<%- include ("../_footer") %>