<%- include ("../_header") %>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header"><i class="fa fa-files-o"></i> SCREENING  INFORMATION</h3>
              <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
                <li><i class="icon_document_alt"></i><a href="/screening">รายการชุดแบบสอบถาม</a> </li>
                <li><i class="fa fa-hashtag" aria-hidden="true"></i>ข้อมูลผู้เดินทางเข้าพื้นที่ </li>
              </ol>
            </div>
          </div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class=" col-lg-12" >
      <section class="panel">
        <header class="panel-heading">  
          <b style="font-size: large;"> ข้อมูลผู้เดินทางเข้าพื้นที่ </b>
          
        </header>
        <% JSON.stringify(arrived) %>
        <div class="panel-body">
        <table id="tablepersonnel" class="table table-bordered table-striped" >
          <thead>
            <tr>
                <th><i class="fa fa-list-ol" aria-hidden="true"></i> ลำดับ</th>
                <th><i class="fa fa-question" aria-hidden="true"></i> ข้อมูลผู้เดินทางเข้าพื้นที่</th>
                <th><i class="fa fa-info-circle" aria-hidden="true"></i> รายละเอียด</th>
              </tr>
            </thead>
            <tbody>
              <%if(arrived){%>
                <% for(var i=0; i<arrived.length;i++ ){ %>
            
            <tr>
              <td><%= i+1 %></td>
              <td><b>ชื่อ:</b><%= arrived[i].name_ar %>  <b>รหัสบัตรประชาชน:</b><%= arrived[i].cardnumber %> <b>เพศ:</b><%= arrived[i].sex_ar %> <b>อายุ:</b><%= arrived[i].age_ar %> <b>เบอร์ติดต่อ:</b><%= arrived[i].telphone_ar %> <b>สัญชาติ:</b><%= arrived[i].nation_ar %> <b>อาชีพ:</b><%= arrived[i].occupation %> <br>
              <b>บ้านเลขที่:</b><%= arrived[i].homenumber_ar %> <b>หมู่:</b><%= arrived[i].muu_ar %> <b>ตำบล:</b><%= arrived[i].tumbon_ar %> <b>จำนวนคนที่ร่วมพักอาศัย:</b> <%= arrived[i].Numberofpeoplestaying %> <b>คน</b> <b>เดินทางมาจาก:</b> <%= arrived[i].fromtheprovince %>
              </td>
              
              <td><%= datetime[i].datetime_report %> <br>
                  <%= datetime[i].arrived %>  <%= datetime[i].arrived_14day %> <br>
                  ประเภทกลุ่มเสี่ยง: <%= arrived[i].typerisky %> <br>
                  ผู้รายงาน:<%= arrived[i].namereport %> <%= datetime[i].date_report %>
              </td>
            </tr> 
            <%}%>
            <%}%>  
        </tbody>   
</table>
</div>
      </section>
    </div>
  </div>
</section>
</section>

<script>
    // Get the modal
    var modal = document.getElementById('popup');
  
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
    $(document).ready(function() {
    $('#tablepersonnel').DataTable();
} );
  </script>
  
 

<%- include ("../_footer") %>