<%- include ("../_header") %>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header"><i class="fa fa-files-o"></i> SCREENING INFORMATION</h3>
              
              <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
                <li><i class="icon_document_alt"></i>รายการชุดแบบสอบถาม</li>
              </ol>
            </div>
          </div>
        <div class="col-lg-3"></div>
       
<% JSON.stringify() %>
<div class="row">
  <div class=" col-sm-5" >
    <section class="panel">
      <header class="panel-heading">  
        <b style="font-size: large;"> รายการชุดแบบสอบถาม </b>
      </header>
      <div class="panel-body">
      <table id="tablepersonnel" class="table table-bordered table-striped" >
        <thead>
          <tr>
              <th><i class="fa fa-list-ol" aria-hidden="true"></i> ลำดับ</th>
              <th><i class="fa fa-newspaper-o" aria-hidden="true"></i> แบบสอบถาม</th>
              <td><i class="icon_cogs"></i> Action</td>

            </tr>
          </thead>
                <tbody>
          <tr>
            <td>1</td>
              <td>ติดตามเฝ้าระวังสังเกตุอาการ </td>
              <td><a href="/screening/symptoms" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i> แสดงข้อมูล</a></td>
              
              
          </tr>
          <tr>
            <td>2</td>
            <td>สำรวจการฉีดวัคซีนโดวิด-19 </td>
            <td><a href="/screening/vaccine" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i> แสดงข้อมูล</a></td>
          </tr>
          <tr>
            <td>3</td>
            <td>ข้อมูลผู้เดินทางเข้าพื้นที่</td>
            <td><a href="/screening/arrived" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i> แสดงข้อมูล</a></td>
          </tr>
        </tbody>
</table>
</div>
    </section>
  </div>
</div>
</section>
</section>


 

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 


<%- include ("../_footer") %>