<%- include ("../_header") %>
<section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-files-o"></i> EDIT INFORMATION</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
            <li><i class="icon_document_alt"></i><a href="/screening">รายการชุดแบบสอบถาม</a> </li>
            <li><i class="icon_document_alt"></i><a href="/screening/symptoms"> ติดตามเฝ้าระวังสังเกตุอาการ</a></li>
            <li><i class="fa fa-files-o"></i>ข้อมูลผู้เดินทางเข้าพื้นที่</li>
          </ol>
        </div>
      </div>
      <% JSON.stringify(arrived) %>
      <div class="row">
        <div class="col-lg-2"> </div>
        <div class="col-lg-8">
            <div class="col-lg-2"> </div>
          <section class="panel">
            <header class="panel-heading">
                <b style="font-size: large;"> ข้อมูลผู้เดินทางเข้าพื้นที่ </b>
                <div class="panel-actions">
                  <a href="/screening/symptoms/search<%= arrived.cardnumber %>" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                  <a href="/screening/symptoms" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </header>
            <div class="panel-body">
              <div class="form">
                  <div class="form-group " style="background-color: rgb(224, 205, 175); padding: 30px; margin: auto;">
                    <label><b>ข้อมูลผู้เดินทางเข้าพื้นที่</b></label> <br>
                    <div class="form-group " style="background-color: rgb(247, 247, 247); padding: 30px; margin: auto;">
                    <p><b>ชื่อ:</b><%= arrived.name_ar %>  <b>รหัสบัตรประชาชน:</b><%= arrived.cardnumber %> <b>เพศ:</b><%= arrived.sex_ar %> <b>อายุ:</b><%= arrived.age_ar %> <b>เบอร์ติดต่อ:</b><%= arrived.telphone_ar %> <b>สัญชาติ:</b><%= arrived.nation_ar %> <b>อาชีพ:</b><%= arrived.occupation %> <br>
                        <b>บ้านเลขที่:</b><%= arrived.homenumber_ar %> <b>หมู่:</b><%= arrived.muu_ar %> <b>ตำบล:</b><%= arrived.tumbon_ar %> <b>จำนวนคนที่ร่วมพักอาศัย:</b> <%= arrived.Numberofpeoplestaying %> <b>คน</b></p>
                    </div>
                  </div>
                  <div class="form-group " style="background-color: rgb(224, 205, 175); padding: 30px; margin: auto;">
                    <label><b>รายละเอียด</b></label> <br>
                    <div class="form-group " style="background-color: rgb(247, 247, 247); padding: 30px; margin: auto;">
                    <p><%= datetime.datetime_report %> เดินทางมาจาก: <%= arrived.fromtheprovince %>
                        <%= datetime.arrived %>  <%= datetime.arrived_14day %> <br>
                        ประเภทกลุ่มเสี่ยง: <%= arrived.typerisky %> <br>
                        ผู้รายงาน:<%= arrived.namereport %> <%= datetime.date_report %></p>
                    </div>
                  </div>
                  </div>
              </div>

            </div>
          </section>
        </div>
      </div>
      
      <!-- page end-->
    </section>
  </section>
  <%- include ("../_footer") %>