<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo/wiangthoeng-logo.png">
    <link rel="stylesheet" href="main-menu.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <title>Menu</title>
</head>

<body id="body-menu">
    <header>
        <div class="container-lg head">
            <div class="logo">
                <img src="logo/wiangthoeng-logo.png" alt="">
            </div>
            <p>เทศบาลตำบลเวียงเทิง</p>
            <p style="text-decoration: underline;">แจ้งเหตุ</p>
        </div>
    </header>

    <article>
        <section>
            <% JSON.stringify(alertstype) %>
                <div class="container">
                    <% if(alertstype){ %>
                        <% for(var i=0; i<alertstype.length;i++ ){ %>
                    <a href="/alertsnormal/add<%=alertstype[i].idalertstype%>" class="btn" style="color: black;">
                        <div class="container-sm menu-box">
                            <img image/png src="icon/<%=alertstype[i].icon%>" alt="">
                            <p>
                                    <%=alertstype[i].name_alty%>
                            </p>
                        </div>
                    </a>
                    
                    <%}%>
                    <%}%>
                </div>
        </section>
    </article>

    <footer></footer>
    <script src="drop-menu.js"></script>
</body>

</html>