<!DOCTYPE html>
<html>
<% if(roles) { %>
    <% for(var i=0; i < roles.length; i++){ %>
        <%= roles[i].role_name %>
            หน้า role คือสถานะของ user
            <%}%>
                <%}%>

</html>