<%- include ("../_header") %>
<section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-files-o"></i> EDIT INFORMATION</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
            <li><i class="icon_document_alt"></i><a href="/users"> จัดการข้อมูลประชาชน</a></li>
            <li><i class="fa fa-files-o"></i>แก้ไขข้อมูลประชาชน</li>
          </ol>
        </div>
      </div>
      <!-- Form validations -->
      <div class="row">
        <div class="col-lg-2"> </div>
        <div class="col-lg-8">
            <div class="col-lg-2"> </div>
          <section class="panel">
            <header class="panel-heading">
                <b style="font-size: large;"> แก้ไขข้อมูลประชาชน </b>
                <div class="panel-actions">
                  <a href="/users/edit<%=editusers.idusers%>" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                  <a href="/users" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </header>
            <div class="panel-body">
              <div class="form">
                <form class="form-horizontal" id="feedback_form" method="POST" action="/users/update<%=editusers.idusers %>">
                  <div class="form-group " style="background-color: rgb(247, 245, 242); padding: 30px; margin: auto;">
                    <label for="cname" class="control-label col-lg-2">ชื่อ <span class="required">*</span></label>
                    <div class="col-lg-3">
                      <input class="form-control" id="cname" value="<%=editusers.fname_us%>" name="fname_us"  type="text" required />
                    </div>
                    <div class="col-lg-2"> </div>
                    <label for="cname" class="control-label col-lg-1">นามสกุล <span class="required">*</span></label>
                    <div class="col-lg-3">
                        <input class="form-control" id="cname" value="<%=editusers.lname_us%>" name="lname_us"  type="text" required />
                    </div>
                  </div>
                  <div class="form-group " style="background-color: rgb(221, 213, 200); padding: 30px; margin: auto;">
                    <label for="cname" class="control-label col-lg-2">รหัสบัตรประชาชน <span class="required">*</span></label>
                    <div class="col-lg-4">
                      <input class="form-control" id="cname" value="<%=editusers.idcard_us%>" name="idcard_us"  minlength="5"  type="text" required />
                    </div>
                    <label for="cname" class="control-label col-lg-2">เบอร์ติดต่อ <span class="required">*</span></label>
                    <div class="col-lg-3">
                      <input class="form-control" id="subject" name="phone_us" value="<%=editusers.phone_us%>" minlength="10" type="text" required />
                    </div>                
                  </div>
                  <div class="form-group " style="background-color: rgb(247, 245, 242); padding: 30px; margin: auto;">
                    <label for="cname" class="control-label col-lg-2">บ้านเลขที่ <span class="required">*</span></label>
                    <div class="col-lg-3">
                      <input class="form-control" id="subject" name="address_us" value="<%=editusers.address_us%>" minlength="10" type="text" required />
                    </div>
                    <div class="col-lg-1"> </div>
                    <label for="cname" class="control-label col-lg-2">หมู่บ้าน <span class="required">*</span></label>
                    <div class="col-lg-3" ar>
                      <div class="id-card-form">
                        <select name="village_id" class="form-control" id="" required>
                            <option value="">กรุณาเลือก</option>
                            <% if(village) { %>
                                <% for(var i=0; i < village.length; i++){ %>
                                    <option value="<%= village[i].idvillage %>"<% if(village[i].idvillage == editusers.village_id){ %>
                                    selected
                                    <%} %>>
                                         <%= village[i].name_village %>
                                    </option>
                                    <%}%>
                                        <%}%>
                        </select>
                    </div>
                </div>
                </div>
                <div class="form-group " style="background-color: rgb(221, 213, 200); padding: 30px; margin: auto;">
                <label for="cname" class="control-label col-lg-2">เพศ <span class="required">*</span></label>
                <div class="col-lg-2" ar>
                <select name="sex_us" class="form-control" >
                    <option value="">กรุณาเลือก</option>
                    <% if(sex) { %>
                        <% for(var i=0; i < sex.length; i++){ %>
                            <option value="<%= sex[i].idsex %>" <% if(sex[i].idsex == editusers.sex_us){ %>
                                selected
                            <%} %>>
                                 <%= sex[i].name_sex %>
                            </option>
                            <%}%>
                                <%}%>
                </select>
            </div>
          </div>
                  </div>
                  <div class="form-group" style="background-color: rgb(221, 213, 200); padding: 30px; margin: auto;">
                    <div class="col-lg-offset-4 col-lg-4">
                      <button id="editter" class="btn btn-primary" type="submit">บันทึก</button>
                      
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </section>
        </div>
      </div>
      
      <!-- page end-->
    </section>
  </section>
  <%- include ("../_footer") %>