<%- include ("../_header") %>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-files-o"></i>QUESTiON INFORMATION</h3>

                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
                    <li><i class="icon_document_alt"></i><a href="/checklist">จัดการข้อมูลแบบสอบคำถาม</a></li>
                    <li><i class="fa fa-quora" aria-hidden="true"></i><a href="/checklist/question<%=namequestion.idchecklist%>">คำถาม</a></li>
                    <li><i class="fa fa-bookmark" aria-hidden="true"></i>ตัวเลือกคำถาม</li>
                </ol>
            </div>
        </div>
        <div class="col-lg-9"></div>
        <a class="btn btn-primary" onclick="document.getElementById('popup').style.display='block'"><i class="icon_plus_alt2"></i> เพิ่มตัวเลือกคำถาม</a>
        <div id="popup" class="modal">
            <form class="form-validate modal-content animate" id="myform" action="/checklist/question/dropdown/save" method="POST">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('popup').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                <div class="container">
                    <p align="center"><b> เพิ่มคำถาม</b></p><br>
                    <label for="uname"><b>ตัวเลือกคำถาม</b></label>
                    <input type="text" name="namedropdown_qtdd" class="form-control" id="fname" placeholder="กรุณากรอกตัวเลือกคำถาม" required />
                    <input type="hidden" name="questionid_qtdd" class="form-control" value="<%= namequestion.idquestion %>">
ิ                    <br>
                    <button type="submit" class="btn btn-success">เพิ่มข้อมูล</button>
                </div>

            </form>
        </div>
        <% JSON.stringify(question) %>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class=" col-lg-10">
                <div class="col-lg-2"></div>
                <section class="panel">
                    <header class="panel-heading">
                        <b style="font-size: large;"> รายการคำถามของแบบสอบถาม<%=namequestion.name_cl%>ตัวเลือกคำถาม<%=namequestion.name_qt%></b>
                    </header>
                    <div class="panel-body">
                        <table id="tabledropdownquestion" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-list-ol" aria-hidden="true"></i> ลำดับ</th>
                                    <th><i class="fa fa-file-text" aria-hidden="true"></i> ตัวเลือกคำถาม</th>
                                    <th><i class="icon_cogs"></i> Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%if(question){%>
                                <% for(var i=0; i<question.length;i++ ){ %>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td><%= question[i].namedropdown_qtdd%></td>
                                    <td>  
                                        <div class="btn-group">
                                            <a class="btn btn-warning" href="/checklist/question/dropdown/edit<%= question[i].idquestiondropdown%>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> แก้ไขข้อมูล</a>
                                            <a class="btn btn-danger" onclick="return confirm('ต้องการลบข้อมูลนี้หรือไม่??!? ตัวเลือกคำถาม: <%= question[i].namedropdown_qtdd %>');" href="/checklist/question/dropdown/delete<%= question[i].idquestiondropdown%>"<i class="icon_close_alt2"></i> ลบข้อมูล</a>
                                        </div>
                                     
                                    </td>
                                </tr>
                                <%}%>
            <%}%>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>


        <script>
            // Get the modal
            var modal = document.getElementById('popup');

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            $(document).ready(function() {
                $('#tabledropdownquestion').DataTable();
            });
        </script>




        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


        <%- include ("../_footer") %>