<%- include ("../_header") %>

<section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-files-o"></i> EDIT INFORMATION</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
            <li><i class="icon_document_alt"></i><a href="/checklist">จัดการข้อมูลแบบสอบคำถาม</a></li>
            <li><i class="fa fa-quora" aria-hidden="true"></i><a href="/checklist/question<%= question.idquestion %>">คำถาม</a></li>
            <li><i class="fa fa-bookmark" aria-hidden="true"></i><a href="/checklist/question/dropdown<%= question.questionid_qtdd%>">ตัวเลือกคำถาม</a></li>
            <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i>แก้ไขตัวเลือกคำถาม</li>
          </ol>
        </div>
      </div>
      <!-- Form validations -->
      <div class="row">
        <div class="col-lg-3"> </div>
        <div class="col-lg-6">
            <div class="col-lg-3"> </div>
          <section class="panel">
            <header class="panel-heading">
                <b style="font-size: large;"> แก้ไขข้อมูลตัวเลือกคำถาม </b>
                <div class="panel-actions">
                  <a href="/admin/alerts/edit<%=question.idquestion %>" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                  <a href="/admin/alerts" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
                
            </header>
            <% JSON.stringify(question)%>
            <div class="panel-body">
              <div class="form">
                <form class="form-validate form-horizontal" id="feedback_form"  action="/checklist/question/dropdown/update<%= question.idquestiondropdown %>" method="POST">
                  <div class="form-group " style="background-color: rgb(247, 234, 215); padding: 30px; margin: auto;">
                    <label for="cname" class="control-label col-lg-4"><b> ชื่อตัวเลือกคำถาม</b></label>
                    <div class="col-lg-3">
                      <input class="form-control" id="cname" value="<%=question.namedropdown_qtdd%>" name="namedropdown_qtdd"  type="text" required />
                      <input type="hidden" class="form-control" value="<%=question.questionid_qtdd%>" name="questionid_qtdd">
                    </div>
                </div>
                    
                  <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-4">
                      <button id="editter" class="btn btn-primary " type="submit">บันทึก</button>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </section>
        </div>
      </div>
      
      <!-- page end-->
    </section>
  </section>
  <%- include ("../_footer") %>