<%- include ("../_header") %>

<section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-files-o"></i> EDIT CHECKLIST INFORMATION</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
            <li><i class="icon_document_alt"></i><a href="/checklist"> จัดการข้อมูลเมนูแบบสอบถาม</a></li>
            <li><i class="fa fa-files-o"></i>แก้ไขข้อมูลแบบสอบถาม</li>
          </ol>
        </div>
      </div>
      <!-- Form validations -->
      <div class="row">
        <div class="col-lg-3"> </div>
        <div class="col-lg-6">
            <div class="col-lg-3"> </div>
          <section class="panel">
            <header class="panel-heading">
                <b style="font-size: large;"> แก้ไขข้อมูลแบบสอบถาม </b>
                <div class="panel-actions">
                  <a href="/checklist/edit<%=checklist.idchecklist %>" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                  <a href="/checklist" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
                
            </header>
            <% JSON.stringify(checklist)%>
            <div class="panel-body">
              <div class="form">
                <form class="form-horizontal" id="feedback_form" action="/checklist/update<%=checklist.idchecklist %>"  method="POST">
                  <div class="form-group " style="background-color: rgb(247, 234, 215); padding: 30px; margin: auto;">
                    <label for="cname" class="control-label col-lg-2"><b> ชื่อแบบสอบถาม</b></label>
                    <div class="col-lg-3">
                      <input class="form-control" id="cname" value="<%=checklist.name_cl%>" name="name_cl"  type="text" required />
                    </div>
                    <label for="cname" class="control-label col-lg-3"><b>สถานะแบบสอบถาม</b></label>
                    <div class="claim">
                    <% if(checklist.enable_cl == 0) {%>
                        <div class="form-check form-check-inline sex-choice .male">
                            <input class="form-check-input" name="enable_cl" value="0" type="radio" checked>
                            <label for="male" class="maleLabel" style="color: green;">เปิดใช้งาน</label>
                            <input class="form-check-input" name="enable_cl" value="1" type="radio">
                            <label for="female"  style="color: red;">ปิดใช้งาน</label>
                        </div>
                    <%}else{%>
                        <div class="form-check form-check-inline sex-choice .male">
                            <input class="form-check-input" name="enable_cl" value="0" type="radio">
                            <label for="male" class="maleLabel" style="color: green;">เปิดใช้งาน</label>
                            <input class="form-check-input" name="enable_cl" value="1" type="radio" checked>
                            <label for="female"  style="color: red;">ปิดใช้งาน</label>
                        </div>
                    <%}%>
                  </div>
                </div>
                    
                  <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-4">
                      <button id="editter" class="btn btn-primary " type="submit">บันทึก</button>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </section>
        </div>
      </div>
      
      <!-- page end-->
    </section>
  </section>
  <%- include ("../_footer") %>