<%- include ("../_header") %>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-files-o"></i>CHECKLIST INFORMATION</h3>

                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
                    <li><i class="icon_document_alt"></i>จัดการข้อมูลแบบสอบถาม</li>
                </ol>
            </div>
        </div>
        <div class="col-lg-8"></div>
        <a class="btn btn-primary" onclick="document.getElementById('popup').style.display='block'"><i class="icon_plus_alt2"></i> เพิ่มรายการแบบสอบถาม</a>
        <div id="popup" class="modal">
            <form class="form-validate modal-content animate" id="myform" action="/checklist/save" method="POST">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('popup').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                <div class="container">
                    <p align="center"><b> เพิ่มรายการแบบสอบถาม</b></p><br>
                    <label for="uname"><b>ชื่อแบบสอบถาม</b></label>
                    <input type="text" name="name_cl" class="form-control" id="fname" placeholder="กรุณากรอกชื่อแบบสอบถาม" required />
                    <label for="fname"><b>สถานะการใช้งาน</b></label>
                    <div class="enable_alty">
                        <div class="enable_alty-form">

                            <div class="form-check form-check-inline sex-choice .male">
                                <input class="form-check-input" name="enable_cl" value="0" type="radio" checked>
                                <label for="male" class="maleLabel" style="color: green;">เปิด</label>
                                <input class="form-check-input" name="enable_cl" value="1" type="radio">
                                <label for="female" style="color: red;">ปิด</label>
                            </div>

                        </div>
                    </div><br>

                    <button type="submit" class="btn btn-success">เพิ่มข้อมูล</button>
                </div>

            </form>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class=" col-lg-10">
                <div class="col-lg-2"></div>
                <section class="panel">
                    <header class="panel-heading">
                        <b style="font-size: large;"> รายการแบบสอบถาม</b>
                    </header>
                    <div class="panel-body">
                        <table id="tablechecklist" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-list-ol" aria-hidden="true"></i> ลำดับ</th>
                                    <th><i class="fa fa-file-text" aria-hidden="true"></i> ชื่อแบบสอบถาม</th>
                                    <th><i class="fa fa-exchange" aria-hidden="true"></i> สถานะ</th>
                                    <th><i class="fa fa-clock-o" aria-hidden="true"></i> เวลาที่สร้างแบบสอบถาม</th>
                                    <th><i class="icon_cogs"></i> Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%if(checklist){%>
                                <% for(var i=0; i<checklist.length;i++ ){ %>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td><%= checklist[i].name_cl%></td>
                                    <% if(checklist[i].enable_cl == 0) { %>
                                    <td style="color: green;"><b><i class="fa fa-check-circle" aria-hidden="true"></i> เปิดใช้งาน</b> </td>
                                    <%}else{ %>
                                    <td style="color: red;"><b><i class="fa fa-ban" aria-hidden="true"></i> ปิดใช้งาน</b> </td>
                                    <%}%>
                                    <td><%= timecreate[i].date%>  <%= timecreate[i].time%></td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-warning" href="/checklist/edit<%= checklist[i].idchecklist%>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> แก้ไขข้อมูล</a>
                                            <a class="btn btn-danger" href="/checklist/delete<%= checklist[i].idchecklist%>" onclick="return confirm('ต้องการลบข้อมูลนี้หรือไม่??!?')"><i class="icon_close_alt2"></i> ลบข้อมูล</a>
                                            <a class="btn btn-success" href="/checklist/question<%= checklist[i].idchecklist%>"><i class="fa fa-quora" aria-hidden="true"></i> ดูคำถาม</a>
                                            <a class="btn btn-info" href="/admin/alerts/newnotify<%= checklist[i].idchecklist%>"><i class="fa fa-search" aria-hidden="true"></i> ดูรายการแบบสอบถาม</a>
                                        </div>

                                    </td>
                                </tr>
                                <%}%>
            <%}%>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>


        <script>
            // Get the modal
            var modal = document.getElementById('popup');

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            $(document).ready(function() {
                $('#tablechecklist').DataTable();
            });
        </script>




        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


        <%- include ("../_footer") %>