<%- include ("../_header") %>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-files-o"></i>QUESTiON INFORMATION</h3>

                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
                    <li><i class="icon_document_alt"></i><a href="/checklist">จัดการข้อมูลแบบสอบคำถาม</a></li>
                    <li><i class="fa fa-quora" aria-hidden="true"></i>คำถาม</li>
                </ol>
            </div>
        </div>
        <div class="col-lg-9"></div>
        <a class="btn btn-primary" onclick="document.getElementById('popup').style.display='block'"><i class="icon_plus_alt2"></i> เพิ่มคำถาม</a>
        <div id="popup" class="modal">
            <form class="form-validate modal-content animate" id="myform" action="/checklist/question/save" method="POST">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('popup').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                <div class="container">
                    <p align="center"><b> เพิ่มคำถาม</b></p><br>
                    <label for="uname"><b>คำถาม</b></label>
                    <input type="text" name="name_qt" class="form-control" id="fname" placeholder="กรุณากรอกคำถาม" required />
                    <label for="fname"><b>ประเภทคำถาม</b></label>
                    <select name="questiontypeid_qt" class="form-control" required>
                        <option value="">กรุณาเลือก</option>
                        <% if(questiontype) { %>
                            <% for(var i=0; i < questiontype.length; i++){ %>
                                <option value="<%= questiontype[i].idquestiontype %>">
                                     <%= questiontype[i].name_qtt %>
                                </option>
                                <%}%>
                                    <%}%>
                    </select><br>
<input type="hidden" name="checklistid_qt" class="form-control" value="<%= idchecklist %>">
                    <button type="submit" class="btn btn-success">เพิ่มข้อมูล</button>
                </div>

            </form>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class=" col-lg-10">
                <div class="col-lg-2"></div>
                <section class="panel">
                    <header class="panel-heading">
                        <b style="font-size: large;"> รายการคำถาม<%= namechecklist.name_cl %></b>
                    </header>
                    <div class="panel-body">
                        <table id="tablequestion" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-list-ol" aria-hidden="true"></i> ลำดับ</th>
                                    <th><i class="fa fa-file-text" aria-hidden="true"></i> คำถาม</th>
                                    <th><i class="fa fa-archive" aria-hidden="true"></i> ประเภทคำถาม</th>
                                    <th><i class="icon_cogs"></i> Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%if(question){%>
                                <% for(var i=0; i<question.length;i++ ){ %>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td><%= question[i].name_qt%></td>
                                    <% if(question[i].questiontypeid_qt == 1) { %>
                                    <td>คำตอบ</td>
                                    <%}else{%>
                                    <td>ตัวเลือก</td>
                                    <%}%>
                                    <td>
                                        
                                        <div class="btn-group">
                                            <% if(question[i].questiontypeid_qt == 2) { %>
                                            <a class="btn btn-success" href="/checklist/question/dropdown<%= question[i].idquestion%>"><i class="icon_check_alt2"></i> เพิ่มตัวเลือกคำถาม</a>
                                            <%}%>
                                            <a class="btn btn-warning" href="/checklist/question/edit<%= question[i].idquestion%>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> แก้ไขข้อมูล</a>
                                            <a class="btn btn-danger" onclick="return confirm('ต้องการลบข้อมูลนี้หรือไม่??!? คำถาม: <%= question[i].name_qt %>');" href="/checklist/question/delete<%= question[i].idquestion%>"<i class="icon_close_alt2"></i> ลบข้อมูล</a>
                                        </div>
                                     
                                    </td>
                                </tr>
                                <%}%>
            <%}%>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>


        <script>
            // Get the modal
            var modal = document.getElementById('popup');

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            $(document).ready(function() {
                $('#tablequestion').DataTable();
            });
        </script>




        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


        <%- include ("../_footer") %>