<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">

</head>

<body>
    <style>
        body {
            background-color: rgb(247, 64, 18);
        }
    </style>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        Swal.fire({
            icon: 'error',
            title: 'ข้อมูลผิดพลาด!!',
            text: 'กรุณาระบุตำแหน่ง',
            footer: 'กำลังทำการกลับไปหน้าติดตามเฝ้าระวังสังเหตุอาการ',
            showConfirmButton: false,
            timer: 4500,
        });
        setTimeout(function() {
            window.history.back();
        }, 4500)
    </script>
</body>

</html>