<!DOCTYPE html>
<html lang="en">
<head>
	<title>ประวัติการแจ้งเหตุ</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../logo/logo.png"/>
<!--===============================================================================================-->
<link href="../vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
<!--===============================================================================================-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor_moblie/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor_moblie/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor_moblie/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../formmoblie/util.css">
	<link rel="stylesheet" type="text/css" href="../formmoblie/main.css">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	
    <% JSON.stringify(vaccine) %>
    <div class="container-contact100">
		<div class="wrap-contact100">
            <a href="/question" class="btn btn-primary" ><i class="fas fa-arrow-circle-left"></i>กลับ</a>
			<form class="contact100-form validate-form"  enctype="multipart/form-data" action="/vaccine/save" method="POST">
				<span class="contact100-form-title2">
                    <b><%= name %></b> <br>
				<b>	แบบสำรวจการฉีดวัคซีนโดวิด-19</b> 
				</span>
                <input type="hidden" value="<%=cookies.idusers%>" name="usersid_gvc">
				<br>
                <div class="formeiei">
				<div class="control">
                    <label class="radio"><b>ข้อมูลการรับวัคซีน </b> <br>
                      <input type="radio" name="type_get" id="type_get1" value="0" required>
                      ยังไม่ได้รับวัคซีน
                    </label>
                    <label class="radio">
                      <input type="radio" name="type_get" id="type_get2" value="1" required>
                      รับวัคซีนแล้ว 1 เข็ม
                    </label>
                    <label class="radio">
                        <input type="radio" name="type_get" id="type_get3" value="2" required>
                        รับวัคซีนแล้ว 2 เข็ม
                      </label>
                  </div>
                </div>
                <div>
                <label for="uname"><b>วัคซีนที่ได้รับ</b> <p style="color: red;">ถ้ายังไม่ได้รับวัคซีนกรุณาเลือก"ไม่มี"*</p></label>
                    <select name="type_vaccine" class="form-control" required>
                        <option value="">กรุณาเลือกวัคซีน</option>
                        <% if(vaccine) { %>
                            <% for(var i=0; i < vaccine.length; i++){ %>
                                <option value="<%= vaccine[i].idvaccine %>">
                                     <%= vaccine[i].namevaccine %>
                                </option>
                                <%}%>
                                    <%}%>
                    </select>
                </div>
            
				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							ยืนยัน
							<i class="zmdi zmdi-arrow-right m-l-8"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>
            
            

	

<!--===============================================================================================-->	
	<script src="../vendor_moblie/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor_moblie/bootstrap/js/popper.js"></script>
	<script src="../vendor_moblie/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor_moblie/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../js/history_moblie.js"></script>
    <script src="../js/checkradio.js"></script>

</body>
</html>