<!DOCTYPE html>
<html lang="en">

<head>
  <title>ประวัติการแจ้งเหตุ</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="../logo/logo.png" />
  <!--===============================================================================================-->
  <link href="../vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../formmoblie/util.css">
  <link rel="stylesheet" type="text/css" href="../formmoblie/main.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

  <% JSON.stringify(cookies.idusers) %>
    <div class="container-contact100">
      <div class="wrap-contact100">
        <a href="/question" class="btn btn-primary" ><i class="fas fa-arrow-circle-left"></i>กลับ</a>
        <form class="contact100-form validate-form" action="/symptoms/save" method="POST">
          <span class="contact100-form-title">
            <b><%=name%></b> <br>
            <b>ติดตามเฝ้าระวังสังเกตุอาการ</b>
          </span>
          <div class="container-form">
            <a class="btn btn-warning" onclick="get.getLocation()"><i
                class="fas fa-map-marker-alt"></i>คลิกเพื่อระบุตำแหน่งที่อยู่</a>
            <br>
            <input type="hidden" id="latitude_id" name="latitude_ns">
            <input type="hidden" id="longitude_id" name="longitude_ns">
            <div id="gmap_canvas"></div>
          </div>
          <input type="hidden" value="<%=cookies.idusers%>" name="usersid_ns">
          <label class="label-input100" for="first-name">อุณหภูมิ *</label>
          <div class="wrap-input100 rs1 validate-input">
            <input id="first-name" class="input100" type="text" name="fever_ns"
              placeholder="กรอกอุณหภูมิที่วัดได้ปัจจุบัน" required>
            <span class="focus-input100"></span>
          </div>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>ตวรจเช็คอาการเบื้องต้น</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1.มีอาการไอ
                  </td>
                  <div class="form-check"></div>
                  <td>

                    <input type="radio" class="form-check-input" name="symptom1_ns" id="symptom1_yes" value="1"
                      required>
                    <label class="form-check-label" for="flexCheckDefault">ใช่</label>&emsp;&emsp;&emsp;

                  </td>
                  <td>
                    <input type="radio" class="form-check-input" name="symptom1_ns" id="symptom1_no" value="0" required>
                    <label class="form-check-label" for="flexCheckDefault">ไม่ใช่</label>
                  </td>
          </tr>
          <tr>
            <td>
              2.มีอาการเจ็บคอ
            </td>
            <div class="form-check"></div>
            <td>

              <input type="radio" class="form-check-input" name="symptom2_ns" id="symptom2_yes" value="1" required>
              <label class="form-check-label" for="flexCheckDefault">ใช่</label>

            </td>
            <td>
              <input type="radio" class="form-check-input" name="symptom2_ns" id="symptom2_no" value="0" required>
              <label class="form-check-label" for="flexCheckDefault">ไม่ใช่</label>
            </td>
      </div>
      </tr>
      <tr>
        <td>
          3.มีน้ำมูก
        </td>
        <div class="form-check"></div>
        <td>

          <input type="radio" class="form-check-input" name="symptom3_ns" id="symptom3_yes" value="1" required>
          <label class="form-check-label" for="flexCheckDefault">ใช่</label>

        </td>
        <td>
          <input type="radio" class="form-check-input" name="symptom3_ns" id="symptom3_no" value="0" required>
          <label class="form-check-label" for="flexCheckDefault">ไม่ใช่</label>
        </td>
    </div>
    </tr>
    <tr>
      <td>
        4.มีเสมหะ
      </td>
      <div class="form-check"></div>
      <td>

        <input type="radio" class="form-check-input" name="symptom4_ns" id="symptom4_yes" value="1" required>
        <label class="form-check-label" for="flexCheckDefault">ใช่</label>

      </td>
      <td>
        <input type="radio" class="form-check-input" name="symptom4_ns" id="symptom4_no" value="0" required>
        <label class="form-check-label" for="flexCheckDefault">ไม่ใช่</label>
      </td>
      </div>
    </tr>
    <tr>
      <td>
        5.หายใจลำบาก
      </td>
      <div class="form-check"></div>
      <td>

        <input type="radio" class="form-check-input" name="symptom5_ns" id="symptom5_yes" value="1" required>
        <label class="form-check-label" for="flexCheckDefault">ใช่</label>

      </td>
      <td>
        <input type="radio" class="form-check-input" name="symptom5_ns" id="symptom5_no" value="0" required>
        <label class="form-check-label" for="flexCheckDefault">ไม่ใช่</label>
      </td>
      </div>
    </tr>
    <tr>
      <td>
        6.หอบเหนื่อย
      </td>
      <div class="form-check"></div>
      <td>

        <input type="radio" class="form-check-input" name="symptom6_ns" id="symptom6_yes" value="1" required>
        <label class="form-check-label" for="flexCheckDefault">ใช่</label>

      </td>
      <td>
        <input type="radio" class="form-check-input" name="symptom6_ns" id="symptom6_no" value="0" required>
        <label class="form-check-label" for="flexCheckDefault">ไม่ใช่</label>
      </td>
      </div>
    </tr>
    <tr>
      <td>
        7.ปวดกล้ามเนื้อ
      </td>
      <div class="form-check"></div>
      <td>

        <input type="radio" class="form-check-input" name="symptom7_ns" id="symptom7_yes" value="1" required>
        <label class="form-check-label" for="flexCheckDefault">ใช่</label>

      </td>
      <td>
        <input type="radio" class="form-check-input" name="symptom7_ns" id="symptom7_no" value="0" required>
        <label class="form-check-label" for="flexCheckDefault">ไม่ใช่</label>
      </td>
      </div>
    </tr>
    <tr>
      <td>
        8.ปวดศรีษะ
      </td>
      <div class="form-check"></div>
      <td>

        <input type="radio" class="form-check-input" name="symptom8_ns" id="symptom8_yes" value="1" required>
        <label class="form-check-label" for="flexCheckDefault">ใช่</label>

      </td>
      <td>
        <input type="radio" class="form-check-input" name="symptom8_ns" id="symptom8_no" value="0" required>
        <label class="form-check-label" for="flexCheckDefault">ไม่ใช่</label>
      </td>
      </div>
    </tr>
    <tr>
      <td>
        9.ถ่ายเหลว
      </td>
      <div class="form-check"></div>
      <td>

        <input type="radio" class="form-check-input" name="symptom9_ns" id="symptom9_yes" value="1" required>
        <label class="form-check-label" for="flexCheckDefault">ใช่</label>

      </td>
      <td>
        <input type="radio" class="form-check-input" name="symptom9_ns" id="symptom9_no" value="0" required>
        <label class="form-check-label" for="flexCheckDefault">ไม่ใช่</label>
      </td>
      </div>
    </tr>
    <tr>
      <td>
        10.จมูกไม่ได้กลิ่น
      </td>
      <div class="form-check"></div>
      <td>

        <input type="radio" class="form-check-input" name="symptom10_ns" id="symptom10_yes" value="1" required>
        <label class="form-check-label" for="flexCheckDefault">ใช่</label>

      </td>
      <td>
        <input type="radio" class="form-check-input" name="symptom10_ns" id="symptom10_no" value="0" required>
        <label class="form-check-label" for="flexCheckDefault">ไม่ใช่</label>
      </td>
      </div>
    </tr>
    <tr>
      <td>
        11.ลิ้นไม่สามารถรับรส
      </td>
      <div class="form-check"></div>
      <td>

        <input type="radio" class="form-check-input" name="symptom11_ns" id="symptom11_yes" value="1" required>
        <label class="form-check-label" for="flexCheckDefault">ใช่</label>

      </td>
      <td>
        <input type="radio" class="form-check-input" name="symptom11_ns" id="symptom11_no" value="0" required>
        <label class="form-check-label" for="flexCheckDefault">ไม่ใช่</label>
      </td>
      </div>
    </tr>
    <tr>
      <td>
        12.ตาแดง
      </td>
      <div class="form-check"></div>
      <td>

        <input type="radio" class="form-check-input" name="symptom12_ns" id="symptom12_yes" value="1" required>
        <label class="form-check-label" for="flexCheckDefault">ใช่</label>

      </td>
      <td>
        <input type="radio" class="form-check-input" name="symptom12_ns" id="symptom12_no" value="0" required>
        <label class="form-check-label" for="flexCheckDefault">ไม่ใช่</label>
      </td>
      <tr>
        <td>
          13.มีผื่น
        </td>
        <div class="form-check"></div>
        <td>
  
          <input type="radio" class="form-check-input" name="symptom13_ns" id="symptom13_yes" value="1" required>
          <label class="form-check-label" for="flexCheckDefault">ใช่</label>
  
        </td>
        <td>
          <input type="radio" class="form-check-input" name="symptom13_ns" id="symptom13_no" value="0" required>
          <label class="form-check-label" for="flexCheckDefault">ไม่ใช่</label>
        </td>
        </div>
      </tr>
      </div>
    </tr>
    </tbody>
    </table>
      <button type="submit" class="contact100-form-btn" style="position: relative; margin-left: auto;margin-right: auto;left: 0;right: 0;text-align: center;">
        <span>
          ยืนยัน
          <i class="zmdi zmdi-arrow-right m-l-8"></i>
        </span>
      </button>
    </form>
    </div>
    </div>





    <!--===============================================================================================-->
    <script src="../vendor_moblie/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="../vendor_moblie/bootstrap/js/popper.js"></script>
    <script src="../vendor_moblie/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
  
    <script src="../js/get.js"></script>
    <script src="../js/checkradio.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

</body>

</html>