<%- include ("../_header") %>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header"><i class="fa fa-files-o"></i> PERSONNEL INFORMATION</h3>
              
              <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Dashboard</a></li>
                <li><i class="icon_document_alt"></i>จัดการข้อมูลเจ้าหน้าที่</li>
              </ol>
            </div>
          </div>
        <div class="col-lg-9"></div>
        <a class="btn btn-primary"  onclick="document.getElementById('popup').style.display='block'"><i class="icon_plus_alt2"></i> เพิ่มข้อมูลเจ้าหน้าที่</a>
        <div id="popup" class="modal">
            <form class="form-validate modal-content animate" id="myform" action="/personnel/save" method="POST" data-toggle="validator" >
                <div class="imgcontainer">
                    <span onclick="document.getElementById('popup').style.display='none'" class="close" title="Close Modal">&times;</span>  
                </div>
                <div class="container">
                    <p align="center"><b> เพิ่มข้อมูลเจ้าหน้าที่</b></p><br>
                    <label for="uname"><b>ชื่อ</b></label>
                    <input type="text" name="fname_ps" class="form-control" id="fname" placeholder="กรุณากรอกชื่อ" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required/>
                    <div class="validation"></div>
                    <label for="uname"><b>นามสกุล</b></label>
                    <input type="text" name="lname_ps" class="form-control" id="lame" placeholder="กรุณากรอกนามสกุล" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required/>
                    <div class="validation"></div>
                    <label for="uname"><b>เบอร์ติดต่อ</b></label>
                    <input type="text" name="phone_ps" class="form-control" id="phone" placeholder="กรุณากรอกเบอร์ติดต่อ" data-rule="minlen:8" data-msg="Please enter at least 4 chars" required/>
                    <div class="validation"></div>
                    <label for="uname"><b>รหัสบัตรประชาชน</b></label>
                    <input type="text" name="idcard_ps" class="form-control" id="username" placeholder="กรุณากรอกรหัสบัตรประชาชน" data-rule="minlen:13" data-msg="Please enter at least 4 chars" required/>
                    <div class="validation"></div>
                    <label for="uname"><b>หน่วยงานที่รับผิดชอบ</b></label>
                    <select name="personnel_type" class="form-control" required>
                        <option value="">กรุณาเลือก</option>
                        <% if(personneltype) { %>
                            <% for(var i=0; i < personneltype.length; i++){ %>
                                <option value="<%= personneltype[i].idpersonneltype %>">
                                     <%= personneltype[i].name_pst %>
                                </option>
                                <%}%>
                                    <%}%>
                    </select>
                    <div class="validation"></div>
                    <button type="submit" class="btn btn-success">เพิ่มข้อมูล</button>
                </div>

            </form>
        </div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class=" col-lg-10" >
        <div class="col-lg-1"></div>
      <section class="panel">
        <header class="panel-heading">  
          <b style="font-size: large;"> รายชื่อเจ้าหน้าที่ </b>
          
        </header>
        <div class="panel-body">
        <table id="tablepersonnel" class="table table-bordered table-striped" >
          <thead>
            <tr>
                <th><i class="fa fa-list-ol" aria-hidden="true"></i> ลำดับ</th>
                <th><i class="icon_profile"></i> ชื่อ/นามสกุล</th>
                <th><i class="fa fa-id-card-o" aria-hidden="true"></i></i> รหัสบัตรประชาชน</th>
                <th><i class="icon_mobile"></i> เบอร์ติดต่อ</th>
                <th><i class="fa fa-users" aria-hidden="true"></i>สังกัดหน่วยงาน</th>
                <th><i class="icon_cogs"></i> Action</th>
              </tr>
            </thead>
            <tbody>
              <%if(personnel){%>
                <% for(var i=0; i<personnel.length;i++ ){ %>  
            <tr>
                <td><%= i+1 %></td>
              <td><%= personnel[i].fname_ps%> <%= personnel[i].lname_ps%></td>
              <td><%= personnel[i].idcard_ps%></td>
              <td><%= personnel[i].phone_ps%></td>
              <td><%= personnel[i].name_pst%></td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-warning"  href="/personnel/edit<%= personnel[i].idpersonnel%>"><i class="icon_check_alt2"></i> แก้ไขข้อมูล</a>
                  <a class="btn btn-danger" onclick="return confirm('ต้องการลบข้อมูลนี้หรือไม่??!? ชื่อ:<%= personnel[i].fname_ps%> <%= personnel[i].lname_ps%> (หน่วยงาน: <%= personnel[i].name_pst%>)');" href="/personnel/delete<%= personnel[i].idpersonnel%>"><i class="icon_close_alt2"></i> ลบข้อมูล</a>
                </div>
                
              </td>
            </tr>
          
            <%}%>
            <%}%>
          </tbody>
</table>
</div>
      </section>
    </div>
  </div>
</section>
</section>

<script>
    // Get the modal
    var modal = document.getElementById('popup');
  
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
    $(document).ready(function() {
    $('#tablepersonnel').DataTable();
} );
  </script>
  
 

<%- include ("../_footer") %>